<form class="item-form" *ngIf="itemForm">

    <!-- Header -->
    <div class="form-header primary-light">
        <button 
            type="button" 
            mat-icon-button 
            class="color-transparent-to-accent" 
            (click)="remove()"
            aria-label="Delete item"
        >
            <mat-icon>delete</mat-icon>
        </button>
        <h2>
            <pos-editable-field label="Item name" [control]="itemName" class="primary-light"></pos-editable-field>
        </h2>
        <button 
            mat-icon-button 
            type="button"
            class="color-transparent-to-accent" 
            (click)="search()"
            aria-label="Search for item"
        >
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="filter-wrapper">
        <div class="filters">
            <button 
                class="color-transparent-to-accent clear" 
                aria-label="Reset form" 
                mat-icon-button 
                type="button" 
                (click)="clear()"
            >
                <mat-icon>restart_alt</mat-icon>
            </button>
    
            <pos-item-search class="item-select" [queryForm]="itemForm.itemForm.controls.query"></pos-item-search>
    
            <!--  Type Filters & Status Filter -->
            <div class="top-filters">
                <pos-filter-group 
                    [group]="itemForm.filterGroups[0]"
                    class="filter"
                    [noExpansion]="true"
                    [wrapInputs]="false"
                >
                    <pos-searchselect 
                        class="status-select"
                        inputName='Status'
                        [values]="statusOptions"
                        [filterBy]="simpleDataService.filterSimpleData"
                        [displayBy]="simpleDataService.displayByText"   
                        [setValue]="simpleDataService.getSelectedValue(this.itemForm.itemForm['controls'].query['controls'].status['controls'].option.value, statusOptions)"
                        (selected)="this.itemForm.itemForm['controls'].query['controls'].status['controls'].option.patchValue($event.id)">
                    </pos-searchselect>
                </pos-filter-group>
            </div>
            
            <!-- Filter Groups -->
            <pos-filter-group 
                *ngFor="let group of itemForm.filterGroups | slice:1" 
                [group]="group"
                class="filter"
            >
            </pos-filter-group>
            
            <!-- Stat Filters -->
            <pos-statfilters 
                class="filter" 
                *ngFor="let statFilter of this.itemForm.itemForm['controls'].query['controls'].stats['controls']" 
                [statFilter]="statFilter" 
                (filterRemoved)="removeStatFilter($event)"
                >
            </pos-statfilters>
            
            <button 
                mat-button 
                type="button" 
                (click)="addStatGroup()" 
                class="color-transparent-to-accent"
                aria-label="Add a stat group"
            >
                <mat-icon>library_add</mat-icon> Add Stat Group
            </button>
        </div>
    </div>
</form>

