<form class="item-container">
    <div class="item-header-container mat-input-400">
        <button type="button" mat-icon-button class="transparent-mat-button warn-700 hoverable" (click)="remove()">
            <mat-icon>delete</mat-icon>
        </button>
        <div *ngIf="!editName" class="item-name">
            <h4>{{itemData.itemForm.value.itemName.length > 0 ? itemData.itemForm.value.itemName : 'Item Name'}}</h4>
            <button type="button" (click)="editName = true" mat-icon-button class="transparent-mat-button fix-height-mat-icon"><mat-icon>edit</mat-icon></button>
        </div>
        <mat-form-field class="item-name-input" *ngIf="editName" [floatLabel]="'never'">
            <input #itemNameInput matInput 
                (keydown.enter)="$event.target.blur()"
                (blur)="editName = false" type="text" autocomplete="off" placeholder="Item Name"  [formControl]="itemData.itemForm.controls.itemName">
        </mat-form-field>
    </div>
        

    <div class="item-contents">
        <div class="filters">
            <app-typefilters class="filter type" [queryForm]="this.itemData.itemForm['controls'].queryForm['controls'].query"></app-typefilters>
            <app-weaponfilters class="filter" [weaponForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].weapon_filters"></app-weaponfilters>
            <app-armourfilters class="filter" [armourForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].armour_filters"></app-armourfilters>
            <app-socketfilters class="filter" [socketForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].socket_filters"></app-socketfilters>
            <app-requirements class="filter" [requirementsForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].req_filters"></app-requirements>
            <app-mapfilters class="filter" [mapForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].map_filters"></app-mapfilters>
            <app-specialbases class="filter" [influenceForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].misc_filters.influenceForm"></app-specialbases>
            <app-gemfilters class="filter" [gemForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].misc_filters.gemForm"></app-gemfilters>
            <app-otherfilters class="filter" [otherForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].misc_filters.otherForm"></app-otherfilters>
            <app-tradefilters class="filter" [tradeForm]="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].filters['controls'].trade_filters"></app-tradefilters>
            <app-statfilters class="filter" *ngFor="let statFilter of this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].stats['controls']" [statFilter]="statFilter" (filterRemoved)="removeStatFilter($event)"></app-statfilters>
            <button mat-button type="button" (click)="addStatGroup()" class="transparent-mat-button"><mat-icon>library_add</mat-icon> Stat Group</button>
            <div class="query-actions">
                <div class="query-buttons">
                    <button class="query-button search mat-button-300" mat-flat-button (click)="queryIDs('price', 'asc')">
                        <mat-icon>search</mat-icon>Search
                    </button>
                    <button class="query-button mat-button-600" mat-flat-button type="button" (click)="this.showResults = !this.showResults" *ngIf="this.itemData.resultData.queryProps || this.showResults">
                        <mat-icon class="{{ showResults ? '' : 'rotate'}}">expand_less</mat-icon>{{ showResults ? 'Hide Results' : 'Show Results'}}
                    </button>
                    <button class="query-button mat-button-600" mat-flat-button type="button" (click)="clear()">
                        <mat-icon>clear</mat-icon>Clear
                    </button>
                </div>
                <app-searchselect class="status-field mat-input-400" 
                                    autoCompleteClass='autocomplete-panel-300' 
                                    inputName='Status'
                                    [values]="statusOptions"
                                    [filterBy]="simpleDataService.filterSimpleData"
                                    [displayBy]="simpleDataService.displayByText"   
                                    [setValue]="simpleDataService.getSelectedValue(this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].status['controls'].option.value, statusOptions)"
                                    (selected)="this.itemData.itemForm['controls'].queryForm['controls'].query['controls'].status['controls'].option.patchValue($event.id)"></app-searchselect>
            </div>
        </div>
        <app-results *ngIf="showResults" class="results" [resultData]="itemData.resultData" [currentSort]="this.itemData.itemForm['controls'].queryForm['controls'].sort.getRawValue()" (newSort)="queryIDs($event)"></app-results>
    </div>
</form>

