<div class="item-wrapper">
    <app-itemimage class="item-image" [item]='item.item'></app-itemimage>
    <div class="item-box rarity-{{item.item.frameType}}">
        <app-itemheader [item]='item.item'></app-itemheader>
        <div class="item-details-container">
            <app-properties *ngIf="item.item.properties && item.item.properties.length > 0"
                             class="item-detail"
                             [item]="item.item">
            </app-properties>
            <app-itemrequirements *ngIf="item.item.requirements || item.item.ilvl || item.item.talismanTier"
                                class="item-detail"
                                [item]="item.item">
            </app-itemrequirements>
            <app-modlist *ngIf="item.item.enchantMods && item.item.enchantMods.length > 0"
                        [item]="item.item"
                        [modProperties]="enchantModProperties"
                        class="item-detail">     
            </app-modlist>
            <app-modlist *ngIf="item.item.implicitMods && item.item.implicitMods.length > 0"
                        [item]="item.item"
                        [modProperties]="implicitModProperties"
                        class="item-detail">     
            </app-modlist>
            <app-modlist *ngIf="(item.item.explicitMods || item.item.fracturedMods || item.item.craftedMods || item.item.corrupted || item.item.duplicated) && item.item.frameType != 6"
                [item]="item.item"
                [modProperties]="explicitModProperties"
                class="item-detail">    
                <p *ngIf="item.item.corrupted" style="color: #d20000; margin: 0; padding: 0.3em; text-align: center;">
                    Corrupted
                </p>
                <p *ngIf="item.item.duplicated" style="color: rgb(100, 100, 255); margin: 0; padding: 0.3em; text-align: center;">
                    Mirrored
                </p> 
            </app-modlist>
            <app-divmods *ngIf="item.item.frameType == 6 && item.item.explicitMods"
                            class="item-detail"
                            [item]="item.item"> 
            </app-divmods>
            <div *ngIf="item.item.identified == false" class="item-mod-list item-detail">
                <span class="mod corrupted">Unidentified</span>
            </div>
            <div *ngIf="item.item.prophecyText" class="item-detail">
                <span>{{item.item.prophecyText}}</span>
            </div>
            <app-additionalproperties class="item-detail" 
                                        *ngIf="item.item.additionalProperties" 
                                        [item]='item.item'>
            </app-additionalproperties>
            <app-incubator class="item-detail"  
                            *ngIf="item.item.incubatedItem" 
                            [item]='item.item'>
            </app-incubator>
            <app-totalvalues class="item-detail" 
                            *ngIf="item.item.extended.dps || 
                                    item.item.extended.edps || 
                                    item.item.extended.pdps || 
                                    item.item.extended.ev || 
                                    item.item.extended.ar || 
                                    item.item.extended.es"
                            [item]='item.item'>
            </app-totalvalues>
        </div>
    </div>
</div>
<app-listinginfo [listing]="item.listing"></app-listinginfo>