<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.weaponForm.disabled">
    <mat-expansion-panel-header>
        <itemForm-filteractionbuttons [formGroup]="this.weaponForm" (disableChange)="this.weaponForm.disabled ? expansionPanel.close() : ''; this.weaponForm.controls.disabled.patchValue(this.weaponForm.disabled, {emitEvent: false, onlySelf: true})"></itemForm-filteractionbuttons>
            Weapon Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <itemForm-inputwrapper class="field">
                    <span label>Damage</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].damage"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Attacks Per Second</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].aps"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Critical Strike Chance</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].crit"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Total DPS</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].dps"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Physcial DPS</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].pdps"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Elemental DPS</span> 
                    <itemForm-minmaxinput [group]="this.weaponForm['controls'].filters['controls'].edps"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>
