<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.mapForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.mapForm" (disableChange)="this.mapForm.disabled ? expansionPanel.close() : ''; this.mapForm.controls.disabled.patchValue(this.mapForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Map Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-inputwrapper class="field" matAutocompleteOrigin #regionSelect="matAutocompleteOrigin">
                    <span label>Region</span> 
                    <app-filtergroupselect [autoCompleteHost]='regionSelect' [control]="mapForm['controls'].filters['controls'].map_region['controls'].option" [selectEnum]="MAP_REGION"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #seriesSelect="matAutocompleteOrigin">
                    <span label>Series</span> 
                    <app-filtergroupselect [autoCompleteHost]='seriesSelect' [control]="mapForm['controls'].filters['controls'].map_series['controls'].option" [selectEnum]="MAP_SERIES"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #shapedSelect="matAutocompleteOrigin">
                    <span label>Shaped</span> 
                    <app-filtergroupselect [autoCompleteHost]='shapedSelect' [control]="mapForm['controls'].filters['controls'].map_shaped['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #elderSelect="matAutocompleteOrigin">
                    <span label>Elder</span> 
                    <app-filtergroupselect [autoCompleteHost]='elderSelect' [control]="mapForm['controls'].filters['controls'].map_elder['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #blightedSelect="matAutocompleteOrigin">
                    <span label>Blighted</span> 
                    <app-filtergroupselect [autoCompleteHost]='blightedSelect' [control]="mapForm['controls'].filters['controls'].map_blighted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Tier</span> 
                    <app-minmaxinput [group]="this.mapForm['controls'].filters['controls'].map_tier"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Packsize</span> 
                    <app-minmaxinput [group]="this.mapForm['controls'].filters['controls'].map_packsize"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>IIQ</span> 
                    <app-minmaxinput [group]="this.mapForm['controls'].filters['controls'].map_iiq"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>IIR</span> 
                    <app-minmaxinput [group]="this.mapForm['controls'].filters['controls'].map_iir"></app-minmaxinput>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>