<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.mapFilters.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.mapFilters" (disableChange)="this.mapFilters.disabled ? expansionPanel.close() : ''; this.mapFilters.controls.disabled.patchValue(this.mapFilters.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Map Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-filtergroupselect class="field" inputName='Region' [control]="mapFilters['controls'].filters['controls'].map_region['controls'].option" [selectEnum]="MAP_REGION"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Series' [control]="mapFilters['controls'].filters['controls'].map_series['controls'].option" [selectEnum]="MAP_SERIES"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Shaped' [control]="mapFilters['controls'].filters['controls'].map_shaped['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Elder' [control]="mapFilters['controls'].filters['controls'].map_elder['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Blighted' [control]="mapFilters['controls'].filters['controls'].map_blighted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-minmaxinput class="field" inputName="Tier" [group]="this.mapFilters['controls'].filters['controls'].map_tier"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Packsize" [group]="this.mapFilters['controls'].filters['controls'].map_packsize"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="IIQ" [group]="this.mapFilters['controls'].filters['controls'].map_iiq"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="IIR" [group]="this.mapFilters['controls'].filters['controls'].map_iir"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>