<div class="type-filters mat-input-400" [formGroup]="queryForm">
    <div class="flexed-inputs search-field">
        <mat-form-field>
            <mat-label>Search Items</mat-label>
            <input #searchInput matInput type="text" autocomplete="off" [matAutocomplete]="searchableItems" (input)="search.patchValue($event.target.value)" [value]="search.value">
            <button mat-button *ngIf="this.search.value" matSuffix mat-icon-button aria-label="Clear" (click)="this.search.patchValue('')">
                <mat-icon class="icon-light">clear</mat-icon>
            </button>
            <mat-autocomplete #searchableItems="matAutocomplete" (optionSelected)="selectItem($event.option.value)" [class]="'autocomplete-panel-300'" (closed)="searchInput.blur()">
                <mat-optgroup *ngFor="let itemGroup of filteredItems | async" [label]="itemGroup.category ? itemGroup.category : 'Misc'">
                    <mat-option *ngFor="let item of itemGroup.items | slice:0:25;" [value]="item"
                    [class.mat-selected]="(this.queryForm.controls.name.value ? this.queryForm.controls.name.value + ' ' + this.queryForm.controls.type.value : this.queryForm.controls.type.value)  == item.text">
                        {{item.text}}
                    </mat-option>
                </mat-optgroup>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <app-filtergroupselect class="rarity-field" inputName="Item Rarity" [control]="this.queryForm['controls'].filters['controls'].type_filters['controls'].filters['controls'].rarity['controls'].option" [selectEnum]="ITEM_RARITIES"></app-filtergroupselect>
    <app-filtergroupselect class="type-field" inputName="Item Type" [control]="this.queryForm['controls'].filters['controls'].type_filters['controls'].filters['controls'].category['controls'].option" [selectEnum]="ITEM_TYPES"></app-filtergroupselect>
</div>
