<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.tradeForm.disabled">
    <mat-expansion-panel-header>
        <itemForm-filteractionbuttons [formGroup]="this.tradeForm" (disableChange)="this.tradeForm.disabled ? expansionPanel.close() : ''; this.tradeForm.controls.disabled.patchValue(this.tradeForm.disabled, {emitEvent: false, onlySelf: true})"></itemForm-filteractionbuttons>
            Trade & Account Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <itemForm-inputwrapper class="field">
                    <span label>Account Name</span> 
                    <div class="flexed-inputs">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Account Name</mat-label>
                            <input matInput [formControl]="tradeForm['controls'].filters['controls'].account['controls'].input" autocomplete="off">
                        </mat-form-field>
                    </div>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field" matAutocompleteOrigin #listedSelect="matAutocompleteOrigin">
                    <span label>Listed</span> 
                    <app-searchselect [values]="listedOptions"
                    [autoCompleteHost]='listedSelect'
                                        [filterBy]="simpleDataService.filterSimpleData"
                                        [displayBy]="simpleDataService.displayByText"   
                                        [disabled]="this.tradeForm.disabled"
                                        [setValue]="simpleDataService.getSelectedValue(tradeForm['controls'].filters['controls'].indexed['controls'].option.value, listedOptions)"
                                        (selected)="tradeForm['controls'].filters['controls'].indexed['controls'].option.patchValue($event.id)"></app-searchselect>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field" matAutocompleteOrigin #saleTypeSelect="matAutocompleteOrigin">
                    <span label>Sale Type</span> 
                    <app-searchselect [values]="saleTypes"
                                        [autoCompleteHost]='saleTypeSelect'
                                        [filterBy]="simpleDataService.filterSimpleData"
                                        [displayBy]="simpleDataService.displayByText"   
                                        [disabled]="this.tradeForm.disabled"
                                        [setValue]="simpleDataService.getSelectedValue(tradeForm['controls'].filters['controls'].sale_type['controls'].option.value, saleTypes)"
                                        (selected)="tradeForm['controls'].filters['controls'].sale_type['controls'].option.patchValue($event.id)"></app-searchselect>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field" matAutocompleteOrigin #buyoutSelect="matAutocompleteOrigin">
                    <span label>Buyout Currency</span> 
                    <app-searchselect [values]="buyOutOptons"
                                        [autoCompleteHost]='buyoutSelect'
                                        [filterBy]="simpleDataService.filterSimpleData"
                                        [displayBy]="simpleDataService.displayByText"   
                                        [disabled]="this.tradeForm.disabled"
                                        [setValue]="simpleDataService.getSelectedValue(tradeForm['controls'].filters['controls'].price['controls'].option.value, buyOutOptons)"
                                        (selected)="tradeForm['controls'].filters['controls'].price['controls'].option.patchValue($event.id)"></app-searchselect>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Buyout Price</span> 
                    <itemForm-minmaxinput [group]="this.tradeForm['controls'].filters['controls'].price"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>