<div class="type-filters" [formGroup]="typeFilters">
    <mat-form-field class="search-field">
        <mat-label>Search Items</mat-label>
        <input matInput type="text" autocomplete="off" [matAutocomplete]="searchableItems" formControlName="term">
        <button mat-button *ngIf="this.typeFilters.value.itemSearch != ''" matSuffix mat-icon-button aria-label="Clear" (click)="this.typeFilters.patchValue({'itemSearch': ''})">
            <mat-icon class="icon-light">clear</mat-icon>
        </button>

        <mat-autocomplete #searchableItems="matAutocomplete" [class]="'autocomplete-panel'">
            <mat-optgroup *ngFor="let search of filteredItems | async" [label]="search.category">
                <mat-option *ngFor="let item of search.items | slice:0:25;" [value]="item">
                    {{item}}
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="type-field">
        <mat-label>Item Type</mat-label>
        <input #itemTypesInput matInput type="text"  autocomplete="off" 
                [matAutocomplete]="searchableItemTypes" 
                [placeholder]="ITEM_TYPES[this.typeFilters.get('cat_rar.filters.category').value]"
                (input)="filteredTypes = filterEnums($event.target.value, this.ITEM_TYPES)"
                [matAutocompletePosition]="'below'"
                [value]="ITEM_TYPES[this.typeFilters.get('cat_rar.filters.category').value]"
                (focus)="$event.target.value = ''; filteredTypes = filterEnums('', this.ITEM_TYPES)"
                (blur)="$event.target.value = this.typeFilters.get('cat_rar.filters.category').value">

        <mat-icon matSuffix class="icon-dark" [class.rotate]="searchableItemTypes.isOpen">arrow_drop_down</mat-icon>
        <mat-autocomplete #searchableItemTypes="matAutocomplete" 
                        [class]="'autocomplete-panel'" 
                        autoActiveFirstOption="'true'"
                        (optionSelected)="this.typeFilters.get('cat_rar.filters.category').patchValue($event.option.value); itemTypesInput.blur()">
            <mat-option *ngFor="let type of filteredTypes" [class.mat-selected]="type == this.typeFilters.get('cat_rar.filters.category').value" [value]="type">
                {{ITEM_TYPES[type]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="rarity-field">
        <mat-label>Item Rarity</mat-label>
        <input #itemRaritiesInput matInput type="text"  autocomplete="off" 
                [matAutocomplete]="searchableItemRarities" 
                [placeholder]="ITEM_RARITIES[this.typeFilters.get('cat_rar.filters.rarity').value]"
                (input)="filteredRarities = filterEnums($event.target.value, ITEM_RARITIES)"
                [matAutocompletePosition]="'below'"
                [value]="ITEM_RARITIES[this.typeFilters.get('cat_rar.filters.rarity').value]"
                (focus)="$event.target.value = ''; filteredRarities = filterEnums('', ITEM_RARITIES)"
                (blur)="$event.target.value = this.typeFilters.get('cat_rar.filters.rarity').value">

        <mat-icon matSuffix class="icon-dark" [class.rotate]="searchableItemRarities.isOpen">arrow_drop_down</mat-icon>
        <mat-autocomplete #searchableItemRarities="matAutocomplete" 
                        [class]="'autocomplete-panel'" 
                        autoActiveFirstOption="'true'"
                        (optionSelected)="this.typeFilters.get('cat_rar.filters.rarity').patchValue($event.option.value); itemRaritiesInput.blur()">
            <mat-option *ngFor="let rarity of filteredRarities" [class.mat-selected]="rarity == this.typeFilters.get('cat_rar.filters.rarity').value" [value]="rarity">
                {{ITEM_RARITIES[rarity]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
