<mat-expansion-panel class="filter-expansion-panel stat-filter" #expansionPanel [disabled]="this.statFilter.disabled">
    <mat-expansion-panel-header>
        <pos-filteractionbuttons disableClear="true" includeDelete="true" (remove)="remove()" [formGroup]="this.statFilter" (disableChange)="this.statFilter.disabled ? expansionPanel.close() : ''; this.statFilter.controls.disabled.patchValue(this.statFilter.disabled, {emitEvent: false, onlySelf: true})"></pos-filteractionbuttons>
        Stat Group
        <div class="type-selector mat-input-400">
            <pos-searchselect class="selector-input primary-default" 
                                (click)="$event.stopImmediatePropagation()"
                                autoCompleteClass='autocomplete-panel-300' 
                                inputName='Filter Type'
                                [values]="filterTypes"
                                [filterBy]="simpleDataService.filterSimpleData"
                                [displayBy]="simpleDataService.displayByText"   
                                [disabled]="this.statFilter.disabled"
                                [setValue]="simpleDataService.getSelectedValue(this.statFilter['controls'].type.value, filterTypes)"
                                (selected)="this.statFilter['controls'].type.patchValue($event.id)"></pos-searchselect>
            <pos-minmaxinput class="selector-input" (click)="$event.stopImmediatePropagation()" *ngIf="this.statFilter['controls'].type.value == 'count' || this.statFilter['controls'].type.value == 'weight'" [group]="this.statFilter['controls'].value"></pos-minmaxinput>
        </div>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <pos-statselect class="field" 
                                *ngFor="let stat of this.statFilter['controls'].filters['controls']" 
                                (statRemoved)="removeStat($event)" 
                                [statGroup]="stat" 
                                [isWeight]="this.statFilter.controls.type.value == 'weight'">
            </pos-statselect>
            <button mat-button 
                    type="button" 
                    class="color-transparent-to-accent" 
                    (click)="addStatFilter()" 
                    [disabled]="this.statFilter.disabled">
                <mat-icon>add_box</mat-icon> Add Stat
            </button>
        </div>
    </ng-template>
</mat-expansion-panel>