.type-selector {
    display: flex;
    margin-left: auto;
    padding-right: 1em;
    font-size: 0.8em;
    height: auto;
    width: 100%;

    .selector-input {
        flex-grow: 1;
    }

    @media screen and (min-width: 58em) {
        max-width: 30em;
    }
}

.field:first-of-type {
    display: block;
    margin-bottom: 1em;
}

.field:not(:first-of-type) {
    margin: 1em 0;
    display: block;
}

button.mat-button {
    display: block;
    margin: auto;
}