@use '~@angular/material' as mat;
@import '../../../../theme.scss';

.stat-filter {
    .item-contents {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .field-wrapper {
            width: 100%;

            .field {
                flex: 1 1 100% !important;
            }
        }

        .transparent-mat-button {
            margin: 0.5em;
        }
    }
}

.type-selector {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    flex: 0 1 auto;
    max-width: 100%;
    justify-content: flex-end;
    @include mat.typography-level($pathofshopping-typography, body-1);
}

@media only screen and (max-width: 1110px) {
    .type-selector {
        margin-top: 0.15em;
        flex: 1 1 100%;

        .selector-input {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}