<div class="flexed-inputs">
    <mat-form-field [floatLabel]="inputName ? '' : 'never'">
        <mat-label *ngIf="inputName">{{inputName}}</mat-label>
        <input #selectInput matInput type="text"  autocomplete="off" 
                [matAutocomplete]="selectInputAutoComplete" 
                [matAutocompleteConnectedTo]="autoCompleteHost"
                [placeholder]="getPlaceholder()"
                (focus)="search.patchValue('')"
                (blur)="selectValue(selectedValue)"
                [formControl]="search">
                
        <mat-icon matSuffix class="icon-dark" [class.rotate]="selectInputAutoComplete.isOpen">arrow_drop_down</mat-icon>
        <mat-autocomplete #selectInputAutoComplete="matAutocomplete" 
                        [class]="autoCompleteClass" 
                        (closed)="selectInput.blur()"
                        autoActiveFirstOption="'true'"
                        (optionSelected)="selectValue($event.option.value, true); selectInput.blur();">
            <ng-contianer *ngIf="groupOptions">
                <mat-optgroup *ngFor="let group of filteredSearch | async" [label]="group[groupOptions.groupedBy]">
                    <mat-option *ngFor="let value of group[groupOptions.groupedInto] | slice:0:25;" [class.mat-selected]="value == selectedValue" [value]="value">
                        {{displayBy ? displayBy(value) : value}}
                    </mat-option>
                </mat-optgroup> 
            </ng-contianer>
            <ng-container *ngIf="!groupOptions">
                <mat-option *ngFor="let value of filteredSearch | async" [class.mat-selected]="value == selectedValue" [value]="value">
                    {{displayBy ? displayBy(value) : value}}
                </mat-option>
            </ng-container>
        </mat-autocomplete>
    </mat-form-field>
</div>
    
