<button 
    mat-icon-button 
    type="button" 
    *ngIf="includeDelete && formGroup" 
    class="color-transparent-to-warn" 
    (click)="$event.stopImmediatePropagation(); this.emitRemove()"
>
    <mat-icon>delete</mat-icon>
</button>
<button 
    mat-icon-button type="button" 
    *ngIf="!disableClear && !this.formGroup.pristine && formGroup" 
    class="color-transparent-to-warn" 
    (click)="$event.stopImmediatePropagation(); this.reset()"
    >
    <mat-icon>clear</mat-icon>
</button>  
<button 
    mat-icon-button 
    type="button" 
    *ngIf="!disableDisable && formGroup" 
    class="color-transparent-to-warn" 
    [color]="this.formGroup.disabled ? 'warn' : ''" 
    (click)="
        $event.stopImmediatePropagation(); 
        this.formGroup.disabled ? this.formGroup.enable({emitEvent: false}) : this.formGroup.disable({emitEvent: false}); 
        this.disableChange.emit()"
    >
    <mat-icon>block</mat-icon>
</button>
