@import '../../styles/shared.scss';

:host {
    display: block;
    box-sizing: border-box;

    &.rarity-0 {
        @include frame-0;
    }
    &.rarity-1 {
        @include frame-1;
    }
    &.rarity-2 {
        @include frame-2;
    }
    &.rarity-3 {
        @include frame-3;
    }
    &.rarity-4 {
        @include frame-4;
    }
    &.rarity-5 {
        @include frame-5;
    }
    &.rarity-6 {
        @include frame-6;
    }
    &.rarity-8 {
        @include frame-8;
    }
    &.rarity-9 {
        @include frame-9;
    }
}

.item-header {
    position: relative;
    text-align: center;
    font-weight: 300;
    padding: 0.5em calc(27px + 0.5em);

    .item-name {
        font-size: 1em;
    }

    .item-type {
        font-size: 0.95em;
    }

    .item-name, .item-type {
        padding: 0.25em 0;
        margin: 0;
    }

    .influence-icon-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;

        .influence-icon-left {
            margin-right: auto;
            padding-left: 0.5em;
        }

        .influence-icon-right {
            margin-left: auto;
            padding-right: 0.5em;
        }
    }
} 