<header class="item-header">
    <div *ngFor="let influence of item.influences | keyvalue | slice:0:2; let i = index; let last = last" 
            class="influence-icon-container">
        <img src="{{
            influence.key == 'shaper' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/shaper-symbol.png' : 
            influence.key == 'elder' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/elder-symbol.png' :
            influence.key == 'crusader' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/crusader-symbol.png' :
            influence.key == 'redeemer' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/redeemer-symbol.png' :
            influence.key == 'hunter' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/hunter-symbol.png' :
            influence.key == 'warlord' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/warlord-symbol.png' : null
        }}" class="influence-icon-{{i == 0 ? 'left' : 'right'}}">
        <img *ngIf="last && i == 0"
            src="{{
                influence.key == 'shaper' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/shaper-symbol.png' : 
                influence.key == 'elder' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/elder-symbol.png' :
                influence.key == 'crusader' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/crusader-symbol.png' :
                influence.key == 'redeemer' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/redeemer-symbol.png' :
                influence.key == 'hunter' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/hunter-symbol.png' :
                influence.key == 'warlord' && influence.value == true ? 'https://web.poecdn.com/image/item/popup/warlord-symbol.png' : null
            }}" class="influence-icon-right">
    </div>
    <div *ngIf="item.fractured" class="influence-icon-container">
        <img src="https://web.poecdn.com/image/item/popup/fractured-symbol.png" class="influence-icon-left">
        <img src="https://web.poecdn.com/image/item/popup/fractured-symbol.png" class="influence-icon-right">
    </div>
    <div *ngIf="item.synthesised" class="influence-icon-container">
        <img src="https://web.poecdn.com/image/item/popup/synthetic-symbol.png" class="influence-icon-left">
        <img src="https://web.poecdn.com/image/item/popup/synthetic-symbol.png" class="influence-icon-right">
    </div>
    
    <h1 *ngIf="item.name || item.baseTypeName" class="item-name">{{ item.name || item.baseTypeName }}</h1>
    <h2 *ngIf="item.typeLine" class="item-type">{{ item.typeLine }}</h2>
</header>
