<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.armourForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.armourForm" (disableChange)="this.armourForm.disabled ? expansionPanel.close() : ''; this.armourForm.controls.disabled.setValue(this.armourForm.disabled)"></app-filteractionbuttons>
        Armour Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-inputwrapper class="field">
                    <span label>Armour</span> 
                    <app-minmaxinput [group]="this.armourForm['controls'].filters['controls'].ar"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Energy Shield</span>
                    <app-minmaxinput [group]="this.armourForm['controls'].filters['controls'].es"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Evasion</span>
                    <app-minmaxinput [group]="this.armourForm['controls'].filters['controls'].ev"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Block Chance</span>
                    <app-minmaxinput [group]="this.armourForm['controls'].filters['controls'].block"></app-minmaxinput>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>