<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
        <mat-icon class="clear-filter" *ngIf="this.armourFilters['controls'].filters.dirty" (click)="$event.stopImmediatePropagation(); this.reset()">clear</mat-icon>  
        <mat-button-toggle (click)="$event.stopPropagation();
                                    disableFilter.checked ? this.armourFilters.disable() : this.armourFilters.enable()" [checked]="this.armourFilters.disabled" #disableFilter disableRipple="true" class="filter-disable"><mat-icon>block</mat-icon></mat-button-toggle>
        Armour Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Armour" [group]="this.armourFilters['controls'].filters['controls'].ar"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Energy Shield" [group]="this.armourFilters['controls'].filters['controls'].es"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Evasion" [group]="this.armourFilters['controls'].filters['controls'].ev"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Block Chance" [group]="this.armourFilters['controls'].filters['controls'].block"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>