<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
            Armour Filters
    </mat-expansion-panel-header>
    <div class="item-contents">
        <div appEqualflex class="field-wrapper">
            <app-minmaxinput class="field" inputName="Armour" [group]="this.armourFilters.get('filters.ar')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Energy Shield" [group]="this.armourFilters.get('filters.es')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Evasion" [group]="this.armourFilters.get('filters.ev')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Block Chance" [group]="this.armourFilters.get('filters.block')"></app-minmaxinput>
        </div>
    </div>
</mat-expansion-panel>