<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
        <mat-icon class="clear-filter" *ngIf="this.weaponFilters['controls'].filters.dirty" (click)="$event.stopImmediatePropagation(); this.reset()">clear</mat-icon>  
        <mat-button-toggle (click)="$event.stopImmediatePropagation();
                                    disableFilter.checked ? this.weaponFilters.disable() : this.weaponFilters.enable()" [checked]="this.weaponFilters.disabled" #disableFilter disableRipple="true" class="filter-disable"><mat-icon>block</mat-icon></mat-button-toggle>
            Weapon Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Damage" [group]="this.weaponFilters['controls'].filters['controls'].damage"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Attacks Per Second" [group]="this.weaponFilters['controls'].filters['controls'].aps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Critical Strike Chance" [group]="this.weaponFilters['controls'].filters['controls'].crit"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Total DPS" [group]="this.weaponFilters['controls'].filters['controls'].dps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Physcial DPS" [group]="this.weaponFilters['controls'].filters['controls'].pdps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Elemental DPS" [group]="this.weaponFilters['controls'].filters['controls'].edps"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>
