<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.gemForm.disabled">
    <mat-expansion-panel-header>
        <itemForm-filteractionbuttons [formGroup]="this.gemForm" (disableChange)="this.gemForm.disabled ? expansionPanel.close() : ''; this.gemForm.controls.gemForm_disabled.patchValue(this.gemForm.disabled, {emitEvent: false, onlySelf: true})"></itemForm-filteractionbuttons>
            Gem Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <itemForm-inputwrapper class="field">
                    <span label>Level</span> 
                    <itemForm-minmaxinput [group]="this.gemForm['controls'].gem_level"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field">
                    <span label>Experience (%)</span> 
                    <itemForm-minmaxinput [group]="this.gemForm['controls'].gem_level_progress"></itemForm-minmaxinput>
                </itemForm-inputwrapper>
                <itemForm-inputwrapper class="field" matAutocompleteOrigin #qualitySelect="matAutocompleteOrigin">
                    <span label>Quality Type</span>
                    <app-searchselect [values]="gemQualityTypes"
                                        [autoCompleteHost]='qualitySelect' 
                                        [filterBy]="simpleDataService.filterSimpleData"
                                        [displayBy]="simpleDataService.displayByText"
                                        [disabled]="this.gemForm.disabled"   
                                        [setValue]="simpleDataService.getSelectedValue(this.gemForm['controls'].gem_alternate_quality['controls'].option.value, gemQualityTypes)"
                                        (selected)="this.gemForm['controls'].gem_alternate_quality['controls'].option.patchValue($event.id)"></app-searchselect> 
                </itemForm-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>