<div class="item-parsed-list">
    <div *ngIf="item.talismanTier" 
        class="sortable" 
        (click)="currentSort.currentSort.next({sortKey: 'talisman_tier'})">
        Talisman Tier: <span class="display-0">{{item.talismanTier}}</span>
        <item-sortarrow *ngIf="currentSort.currentSort.value.sortKey == 'talisman_tier'" 
                    [sortValue]="currentSort.currentSort.value.sortValue">
        </item-sortarrow>
    </div>
    <div *ngIf="item.ilvl" 
        class="sortable" 
        (click)="currentSort.currentSort.next({sortKey: 'ilvl'})">
        Item Level: <span class="display-0">{{item.ilvl}}</span>
        <item-sortarrow *ngIf="currentSort.currentSort.value.sortKey == 'ilvl'" 
                        [sortValue]="currentSort.currentSort.value.sortValue">
        </item-sortarrow>
    </div>
    <div *ngIf="item.requirements" class="item-parsed-nested-list">
        <span>Requires</span> 
        <div *ngFor="let prop of item.requirements | parseProps" 
            [class.sortable]="prop.type != null && PROP_VALUES[prop.type]" 
            (click)="PROP_VALUES[prop.type] ? currentSort.currentSort.next({sortKey: PROP_VALUES[prop.type]}) : ''">
            <span *ngFor="let value of prop.values" class="{{value.display != null ? 'display-' + value.display : ''}}">
                {{value.text}}
            </span>
            <item-sortarrow *ngIf="currentSort.currentSort.value.sortKey == PROP_VALUES[prop.type]" 
                            [sortValue]="currentSort.currentSort.value.sortValue">
            </item-sortarrow>
        </div>
    </div>
</div>
