<ul class="item-parsed-list">
    <li *ngIf="item.talismanTier" 
        class="sortable" 
        (click)="sortService.newSort('talisman_tier')">
        Talisman Tier: <span class="display-0">{{item.talismanTier}}</span>
        <pos-item-sortarrow *ngIf="(currentSort | async).sortKey === 'talisman_tier'" 
                    [sortValue]="(currentSort | async).sortValue">
        </pos-item-sortarrow>
    </li>
    <li 
        *ngIf="item.ilvl" 
        class="sortable" 
        (click)="sortService.newSort('ilvl')"
    >
        Item Level: <span class="display-0">{{item.ilvl}}</span>
        <pos-item-sortarrow *ngIf="(currentSort | async).sortKey === 'ilvl'" 
                        [sortValue]="(currentSort | async).sortValue">
        </pos-item-sortarrow>
    </li>
    <li *ngIf="item.requirements">
        Requires
        <ul class="item-parsed-nested-list">
            <li 
                *ngFor="let prop of item.requirements | parseProps; let i = index" 
                [class.sortable]="prop.type != null && PROP_VALUES[prop.type]" 
                (click)="PROP_VALUES[prop.type] ? sortService.newSort(PROP_VALUES[prop.type]) : ''"
            >
                {{ i > 0 ? ', ' : ' ' }}
                <span 
                    *ngFor="let value of prop.values" 
                    class="{{value.display != null ? 'display-' + value.display : ''}}"
                >
                {{value.text}}
                </span>
                <pos-item-sortarrow 
                    *ngIf="(currentSort | async).sortKey === PROP_VALUES[prop.type]" 
                    [sortValue]="(currentSort | async).sortValue">
                </pos-item-sortarrow>
            </li>
        </ul>
    </li>
</ul>
