<div class="min-max-fields" [formGroup]="group">
    <mat-form-field appearance="fill" color="accent" class="minmax no-padding">
        <mat-label>Min</mat-label>
        <input digitsonly [float]='true' matInput type="text" autocomplete="off" formControlName="min">
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent" class="minmax no-padding">
        <mat-label>Max</mat-label>
        <input digitsonly [float]='true' matInput type="text" autocomplete="off" formControlName="max">
    </mat-form-field>
</div>