<div class="min-max-container" [formGroup]="group">
    <p class="min-max-label">{{inputName}}</p>
    <div *ngIf="minmaxExtras.length > 0" class="sub-min-max-fields">
        <mat-form-field *ngFor="let extra of minmaxExtras" [class]="extra.inputClass">
            <mat-label>{{extra.label}}</mat-label>
            <input digitsonly matInput type="text" autocomplete="off" [formControl]="extra.control">
        </mat-form-field>
    </div>
    <div class="min-max-fields">
        <mat-form-field>
            <mat-label>Min</mat-label>
            <input digitsonly matInput type="text" autocomplete="off" formControlName="min">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Max</mat-label>
            <input digitsonly matInput type="text" autocomplete="off" formControlName="max">
        </mat-form-field>
    </div>
</div>
