<div class="item-listing-info">
    <div class="listing-info mat-small">
        <mat-icon class="online-status {{listing.account.online ? listing.account.online.status : 'offline'}}">
            {{listing.account.online ? 'person' : 'person_off'}}
        </mat-icon>
        &nbsp;{{ listing.account.lastCharacterName}}
    </div>
    <div *ngIf="listing.price" 
        class="listing-info mat-small sortable" 
        (click)="currentSort.currentSort.next({sortKey: 'price'})">
        <span>x{{listing.price.amount}}&nbsp;</span>
        <img class="currency-icon" src="{{this.getCurrencyImage(listing.price.currency)}}">
        <item-sortarrow *ngIf="currentSort.currentSort.value.sortKey == 'price'" 
                        [sortValue]="currentSort.currentSort.value.sortValue">
        </item-sortarrow>
    </div>
    <div class="listing-info mat-small sortable" (click)="currentSort.currentSort.next({sortKey: 'indexed'})">
        <mat-icon class="time-icon">access_time</mat-icon>&nbsp;
        <span>{{subtractDate(listing.indexed)}}</span>
        <item-sortarrow *ngIf="currentSort.currentSort.value.sortKey == 'indexed'" 
                        [sortValue]="currentSort.currentSort.value.sortValue">
        </item-sortarrow>
    </div>
    <button mat-button [cdkCopyToClipboard]="listing.whisper" class="listing-info mat-small">
        <mat-icon>message</mat-icon>
    </button>
</div>
