:host {
    font-size: 0.9em;

    .listing-info.sortable {
        border: none;
        background-color: transparent;
        border-radius: 0;
        color: inherit;
        font: inherit;

        .currency-icon {
            height: 2em;
            width: 2em;
        }
    }

    .listing-info {
        display: flex;
        align-items: center;
        margin: 0;
    }
}