<mat-expansion-panel #panel class="filter-expansion-panel" #expansionPanel [disabled]="this.socketForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.socketForm" (disableChange)="this.socketForm.disabled ? expansionPanel.close() : ''; this.socketForm.controls.disabled.patchValue(this.socketForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Socket Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div class="field-wrapper socket-field-wrapper">
                <app-inputwrapper class="field">
                    <span class="input-label" label>Sockets</span>
                    <div class="inputs">
                        <div class="socket-colors flexed-inputs">
                            <mat-form-field *ngFor="let extra of socketSocketsExtras" [class]="extra.inputClass">
                                <mat-label>{{extra.label}}</mat-label>
                                <input digitsonly float='true' matInput type="text" autocomplete="off" [formControl]="extra.control">
                            </mat-form-field>
                        </div>
                        <app-minmaxinput [group]="this.socketForm['controls'].filters['controls'].sockets" [minmaxExtras]="socketSocketsExtras"></app-minmaxinput>
                    </div>  
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span class="input-label" label>Links</span> 
                    <div class="inputs">
                        <div class="socket-colors flexed-inputs">
                            <mat-form-field *ngFor="let extra of socketLinksExtras" [class]="extra.inputClass">
                                <mat-label>{{extra.label}}</mat-label>
                                <input digitsonly float='true' matInput type="text" autocomplete="off" [formControl]="extra.control">
                            </mat-form-field>
                        </div>
                        <app-minmaxinput [group]="this.socketForm['controls'].filters['controls'].links" [minmaxExtras]="socketLinksExtras"></app-minmaxinput>
                    </div>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>