:host {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .sockets {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .socket {
            top: 0;
            position: relative;
            margin: 5.5px;
            height: 35px;
            width: 35px;
            background: url('https://web.poecdn.com/image/gen/socket.png') no-repeat;
            float: left;
            

            &.R {
                background-position: -140px -1px;
            }

            &.B {
                background-position: -106px -1px;
            }

            &.G {
                background-position: -36px -105px;
            }

            &.W {
                background-position: -140px -36px;
            }

            &.DV {
                background-position: -105px -35px;
            }

            &.A {
                background-position: 0px -71px;
            }

            &.right {
                float: right;
            }
        }

        .socket-connection-horiz {
            background: url('https://web.poecdn.com/image/gen/socket.png') no-repeat;
            background-position: -74px -140px;
            position: absolute;
            display: inline-block;
            height: 16px;
            width: 30px;
            top: 50%;
            transform: translateY(-50%);

            &.to-left {
                left: calc(100% - 10px);
            }

            &.to-right {
                right: calc(100% - 10px);
            }
        }

        .socket-connection-vert {
            background: url('https://web.poecdn.com/image/gen/socket.png') no-repeat;
            transform: translateX(-50%);
            background-position: -174px -4.5px;
            position: absolute;
            display: inline-block;
            height: 30px;
            width: 16px;
            top: calc(100% - 10px);
            left: 50%;
        }
    }
    
}