<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.requirementsForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.requirementsForm" (disableChange)="this.requirementsForm.disabled ? expansionPanel.close() : ''; this.requirementsForm.controls.disabled.patchValue(this.requirementsForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Requirements
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Level" [group]="this.requirementsForm['controls'].filters['controls'].lvl"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Strength" [group]="this.requirementsForm['controls'].filters['controls'].str"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Intelligence" [group]="this.requirementsForm['controls'].filters['controls'].int"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Dexterity" [group]="this.requirementsForm['controls'].filters['controls'].dex"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>