<app-inputwrapper matAutocompleteOrigin #autoCompleteHost="matAutocompleteOrigin" class="stat-select">

    <div class="stat-select-wrapper">
        <div class="stat-selector mat-input-500">
            <div class="stat-selector-buttons">
                <app-filteractionbuttons disableClear="true" includeDelete="true" (remove)="deleteStatFilter()" [formGroup]="this.statGroup" (disableChange)="this.statGroup.controls.disabled.patchValue(this.statGroup.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            </div>
           
            <mat-form-field floatLabel="never">
                <input #statInput matInput type="text" autocomplete="off" 
                    [matAutocomplete]="searchableStats" 
                    [matAutocompleteConnectedTo]="autoCompleteHost"
                    [placeholder]="this.statGroup.controls.selectedStat.value?.text ? this.statGroup.controls.selectedStat.value.text : 'Add Stat Filter'"
                    (input)="filteredStats = filterStats($event.target.value)"
                    [value]="this.statGroup.controls.selectedStat.value?.text ? this.statGroup.controls.selectedStat.value.text : 'Add Stat Filter'"
                    (focus)="$event.target.value = ''; filteredStats = filterStats('')"
                    (blur)="$event.target.value = this.statGroup.controls.selectedStat.value?.text ? this.statGroup.controls.selectedStat.value.text : 'Add Stat Filter'"
                    [disabled]="this.statGroup.disabled">
                    
                <mat-icon matSuffix class="icon-dark" [class.rotate]="searchableStats.isOpen">arrow_drop_down</mat-icon>
                <mat-autocomplete #searchableStats="matAutocomplete" 
                                [class]="'autocomplete-panel'"
                                autoActiveFirstOption="'true'"
                                (optionSelected)="setStat($event.option.value); statInput.blur();">
                    <mat-optgroup *ngFor="let search of filteredStats" [label]="search.category">
                        <mat-option *ngFor="let item of search.stats | slice:0:25;" [value]="item">
                            {{item.text}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        
    
        <div *ngIf="this.statGroup.controls.selectedStat.value && this.statGroup.controls.selectedStat.value.option == null && isWeight" class="stat-min-max-fields mat-input-600">
            <mat-form-field>
                <mat-label>Weight</mat-label>
                <input digitsonly matInput type="text" autocomplete="off" [formControl]="this.statGroup['controls'].value['controls'].weight">
            </mat-form-field>
        </div>
    
        <div *ngIf="this.statGroup.controls.selectedStat.value && this.statGroup.controls.selectedStat.value.option == null && !isWeight" class="stat-min-max-fields mat-input-600">
            <mat-form-field>
                <mat-label>Min</mat-label>
                <input digitsonly matInput type="text" autocomplete="off" [formControl]="this.statGroup['controls'].value['controls'].min">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Max</mat-label>
                <input digitsonly matInput type="text" autocomplete="off" [formControl]="this.statGroup['controls'].value['controls'].max">
            </mat-form-field>
        </div>
    
        <div *ngIf="this.statGroup.controls.selectedStat.value && this.statGroup.controls.selectedStat.value.option != null" class="stat-option-select mat-input-600">
            <mat-form-field floatLabel='never'>
                <input #statOptionInput matInput type="text"  autocomplete="off" 
                        [matAutocomplete]="searchableStatOptions" 
                        [matAutocompleteConnectedTo]="autoCompleteHost"
                        [placeholder]="this.statGroup.controls.selectedStatOption.value?.text ? this.statGroup.controls.selectedStatOption.value.text : 'Select Option'"
                        (input)="filteredStatOptions = filterStatOptions($event.target.value)"
                        [value]="this.statGroup.controls.selectedStatOption.value?.text ? this.statGroup.controls.selectedStatOption.value.text : 'Select Option'"
                        (focus)="$event.target.value = ''; filteredStatOptions = filterStatOptions('')"
                        (blur)="$event.target.value = this.statGroup.controls.selectedStatOption.value?.text ? this.statGroup.controls.selectedStatOption.value.text : 'Select Option'">
        
                <mat-icon matSuffix class="icon-dark" [class.rotate]="searchableStatOptions.isOpen">arrow_drop_down</mat-icon>
                <mat-autocomplete #searchableStatOptions="matAutocomplete" 
                                [class]="'autocomplete-panel'" 
                                autoActiveFirstOption="'true'"
                                (optionSelected)=" statOptionInput.blur(); setStatOption($event.option.value)">
                    <mat-option *ngFor="let option of filteredStatOptions" [value]="option">
                        {{option.text}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
</app-inputwrapper>
