<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
        <mat-icon class="clear-filter" *ngIf="this.mapFilters['controls'].filters.dirty" (click)="$event.stopImmediatePropagation(); this.reset()">clear</mat-icon>
        <mat-button-toggle (click)="$event.stopImmediatePropagation();
                                    disableFilter.checked ? this.mapFilters.disable() : this.mapFilters.enable()" [checked]="this.mapFilters.disabled" #disableFilter disableRipple="true" class="filter-disable"><mat-icon>block</mat-icon></mat-button-toggle>
            Map Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-filtergroupselect class="field" inputName='Region' [control]="mapFilters['controls'].filters['controls'].map_region['controls'].option" [selectEnum]="MAP_REGION"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Series' [control]="mapFilters['controls'].filters['controls'].map_series['controls'].option" [selectEnum]="MAP_SERIES"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Shaped' [control]="mapFilters['controls'].filters['controls'].map_shaped['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Elder' [control]="mapFilters['controls'].filters['controls'].map_elder['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Blighted' [control]="mapFilters['controls'].filters['controls'].map_blighted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-minmaxinput class="field" inputName="Tier" [group]="this.mapFilters['controls'].filters['controls'].map_tier"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Packsize" [group]="this.mapFilters['controls'].filters['controls'].map_packsize"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="IIQ" [group]="this.mapFilters['controls'].filters['controls'].map_iiq"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="IIR" [group]="this.mapFilters['controls'].filters['controls'].map_iir"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>