@import '../../../styles.scss';

.formgroup-select {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    border: 1px solid mat-color($pathofshopping-primary, 500);

    .formgroup-select-label {
        padding: 1em;
        margin: 0;
        width: 100%;
        background-color: mat-color($pathofshopping-primary, 500);
        color: mat-color($pathofshopping-accent, 50);
    }
}