<div class="formgroup-select {{styleType}}">
    <p class="formgroup-select-label" *ngIf="styleType == 'normal'">{{inputName}}</p>
    <mat-form-field [floatLabel]="styleType == 'normal' ? 'never' : ''">
        <mat-label *ngIf="styleType != 'normal'">{{inputName}}</mat-label>
        <input #selectInput matInput type="text"  autocomplete="off" 
                [matAutocomplete]="selectInputAutoComplete" 
                [placeholder]="selectEnum[control.value]"
                (input)="filter = filterEnums($event.target.value, selectEnum)"
                [value]="selectEnum[control.value]"
                (focus)="$event.target.value = ''; filter = filterEnums('', selectEnum)"
                (blur)="$event.target.value = selectEnum[control.value]"
                [disabled]="this.control.disabled"
                appControldefaults="!disableDefault"
                [default]="this.default"
                [control]="this.control">

        <mat-icon matSuffix class="icon-dark" [class.rotate]="selectInputAutoComplete.isOpen">arrow_drop_down</mat-icon>
        <mat-autocomplete #selectInputAutoComplete="matAutocomplete" 
                        [class]="'autocomplete-panel'" 
                        autoActiveFirstOption="'true'"
                        (optionSelected)="control.patchValue($event.option.value); selectInput.blur()">
            <mat-option *ngFor="let value of filter" [class.mat-selected]="value == selectEnum[control.value]" [value]="value">
                {{selectEnum[value]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
