<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.gemForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.gemForm" (disableChange)="this.gemForm.disabled ? expansionPanel.close() : ''; this.gemForm.controls.gemForm_disabled.patchValue(this.gemForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Gem Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-inputwrapper class="field">
                    <span label>Level</span> 
                    <app-minmaxinput [group]="this.gemForm['controls'].gem_level"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Experience (%)</span> 
                    <app-minmaxinput [group]="this.gemForm['controls'].gem_level_progress"></app-minmaxinput>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #qualitySelect="matAutocompleteOrigin">
                    <span label>Quality Type</span> 
                    <app-filtergroupselect [autoCompleteHost]='qualitySelect' [control]="this.gemForm['controls'].gem_alternate_quality['controls'].option" [selectEnum]="GEM_QUALITY_TYPES"></app-filtergroupselect>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>