<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
        <mat-icon class="clear-filter" *ngIf="this.otherFilters.dirty" (click)="$event.stopImmediatePropagation(); this.reset()">clear</mat-icon>  
        <mat-button-toggle (click)="$event.stopImmediatePropagation();
                                    disableFilter.checked ? this.otherFilters.disable() : this.otherFilters.enable()" [checked]="this.otherFilters.disabled" #disableFilter disableRipple="true" class="filter-disable"><mat-icon>block</mat-icon></mat-button-toggle>
        Other
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Quality" [group]="this.otherFilters['controls'].quality"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Item Level" [group]="this.otherFilters['controls'].ilvl"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Talisman Tier" [group]="this.otherFilters['controls'].talisman_tier"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Stored Experience" [group]="this.otherFilters['controls'].stored_experience"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Stack Size" [group]="this.otherFilters['controls'].stack_size"></app-minmaxinput>
                <app-filtergroupselect class="field" inputName='Alternate Art' appControldefaults [control]="this.otherFilters['controls'].alternate_art['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Identified' appControldefaults [control]="this.otherFilters['controls'].identified['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Corrupted' appControldefaults [control]="this.otherFilters['controls'].corrupted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Mirrored' appControldefaults [control]="this.otherFilters['controls'].mirrored['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Crafted' appControldefaults [control]="this.otherFilters['controls'].crafted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Veiled' appControldefaults [control]="this.otherFilters['controls'].veiled['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                <app-filtergroupselect class="field" inputName='Enchanted' appControldefaults [control]="this.otherFilters['controls'].enchanted['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>