<div matAutocompleteOrigin #autoCompleteHost="matAutocompleteOrigin" class="stat-select">

    <div class="stat-selector-wrapper">
        <div class="stat-selector-buttons">
            <itemForm-filteractionbuttons disableClear="true" includeDelete="true" (remove)="deleteStatFilter()" [formGroup]="this.statGroup" (disableChange)="this.statGroup.controls.disabled.patchValue(this.statGroup.disabled, {emitEvent: false, onlySelf: true})"></itemForm-filteractionbuttons>
        </div>

        <app-searchselect class="stat-selector mat-input-500" [placeholder]="'Add Stat'" 
                        [values]="statsToSearch"
                        [groupOptions]="{groupedBy: 'label', groupedInto: 'entries'}"
                        [filterBy]="filterStats"
                        [displayBy]="statDisplayBy"
                        [disabled]="this.statGroup.disabled"
                        [autoCompleteClass]="'autocomplete-panel-300'"
                        [autoCompleteHost]='autoCompleteHost'
                        [setValue]="this.statGroup.controls.selectedStat.value"
                        (selected)="setStat($event)"></app-searchselect>
    </div>
    
    <div *ngIf="this.statGroup.controls.selectedStat.value" class="stat-inputs">
        <div *ngIf="isWeight" class="stat-weight flexed-inputs mat-input-600">
            <mat-form-field>
                <mat-label>Weight</mat-label>
                <input digitsonly matInput type="text" autocomplete="off" [formControl]="this.statGroup['controls'].value['controls'].weight">
            </mat-form-field>
        </div>
    
        <itemForm-minmaxinput *ngIf="this.statGroup.controls.selectedStat.value.option == null && !isWeight" class="stat-min-max-fields mat-input-600" [group]="this.statGroup['controls'].value"></itemForm-minmaxinput>
    
        <app-searchselect *ngIf="this.statGroup.controls.selectedStat.value.option != null" 
                        class="stat-option-select flexed-inputs mat-input-600" 
                        [placeholder]="'Add Option'" 
                        [values]="this.statGroup.controls.selectedStat.value.option"
                        [filterBy]="filterStatOptions"
                        [displayBy]="optionDisplayBy"
                        [disabled]="this.statGroup.disabled"
                        [autoCompleteClass]="'autocomplete-panel-300'"
                        [autoCompleteHost]='autoCompleteHost'
                        [setValue]="this.statGroup.controls.selectedStatOption.value"
                        (selected)="setStatOption($event)"></app-searchselect>
    </div>
</div>
