@use '~@angular/material' as mat;
@import '../../../../theme.scss';

.stat-select {
    display: flex;
    align-items: stretch;
    border-radius: 4px;
    overflow: hidden;
    min-width: 150px;
    background-color: mat.get-color-from-palette($pathofshopping-primary, 500);
    width: 100%;
    max-width: 100%;

    .stat-selector-wrapper {
        display: flex;
        align-items: stretch;
        flex: 3;

        .stat-selector-buttons {
            display: flex;
            align-items: center;
        }

        .stat-selector {
            display: flex;
            min-width: 150px;
            flex: 1;
        }
    }

    .stat-inputs {
        flex: 2;
        display: flex;

        .stat-weight {
            flex: 1;
            min-width: 50px;
        }

        .stat-option-select {
            min-width: 150px;
        }

        .stat-option-select, .stat-min-max-fields {
            flex: 4;
        }

        .stat-weight, .stat-option-select, .stat-min-max-fields {
            background-color: mat.get-color-from-palette($pathofshopping-primary, 600);
            z-index: 100;
        }

        .stat-weight, .stat-option-select {
            display: flex;

            .mat-form-field {
                flex: 1;
                min-width: 50px;
            }
        }
    
    }
}

@media only screen and (max-width: 975px) {
    .stat-select {
        flex-wrap: wrap;

        .stat-selector-wrapper, .stat-inputs { 
            flex: 1 1 100%;
            max-width: 100%;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 490px) {
    .stat-select {
        .stat-selector-wrapper, .stat-inputs { 
            .stat-option-select {
                flex-basis: 100%;
            }
        }
    }
}