<div matAutocompleteOrigin #autoCompleteHost="matAutocompleteOrigin" class="stat-select primary-light">

    <div class="stat-selector-wrapper">
        <pos-filteractionbuttons 
            class="stat-selector-buttons"
            disableClear="true" 
            includeDelete="true" 
            (remove)="deleteStatFilter()" 
            [formGroup]="this.statGroup" 
            (disableChange)="this.statGroup.controls.disabled.patchValue(this.statGroup.disabled, {emitEvent: false, onlySelf: true})"
        >
        </pos-filteractionbuttons>

        <pos-searchselect class="stat-selector mat-input-500" [placeholder]="'Add Stat'" 
                        [values]="statsToSearch"
                        [groupOptions]="{groupedBy: 'label', groupedInto: 'entries'}"
                        [filterBy]="filterStats"
                        [displayBy]="statDisplayBy"
                        [disabled]="this.statGroup.disabled"
                        [autoCompleteClass]="'autocomplete-panel-300'"
                        [autoCompleteHost]='autoCompleteHost'
                        [setValue]="this.statGroup.controls.selectedStat.value"
                        (selected)="setStat($event)"></pos-searchselect>
    </div>
    
    <ng-container *ngIf="this.statGroup.controls.selectedStat.value">
        <mat-form-field appearance="fill" color="accent" *ngIf="isWeight" class="stat-weight no-padding">
            <mat-label>Weight</mat-label>
            <input digitsonly matInput type="text" autocomplete="off" [formControl]="this.statGroup['controls'].value['controls'].weight">
        </mat-form-field>
    
        <pos-minmaxinput *ngIf="this.statGroup.controls.selectedStat.value.option == null" class="stat-min-max-fields mat-input-600" [group]="this.statGroup['controls'].value"></pos-minmaxinput>
    
        <pos-searchselect *ngIf="this.statGroup.controls.selectedStat.value.option != null" 
                        class="stat-option-select" 
                        [placeholder]="'Add Option'" 
                        [values]="this.statGroup.controls.selectedStat.value.option.options"
                        [filterBy]="filterStatOptions"
                        [displayBy]="optionDisplayBy"
                        [disabled]="this.statGroup.disabled"
                        [autoCompleteClass]="'autocomplete-panel-300'"
                        [autoCompleteHost]='autoCompleteHost'
                        [setValue]="this.statGroup.controls.selectedStatOption.value"
                        (selected)="setStatOption($event)"></pos-searchselect>
    </ng-container>
</div>
