.stat-select {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.85em;
    align-items: flex-end;

    .stat-selector-buttons {
        padding: 0 0.5em;
        font-size: 1em;
    }

    .stat-selector-wrapper {
        width: 100%;
    }

    .stat-weight {
        flex: 1;
    }

    .stat-min-max-fields {
        flex: 1;
    }
    
    .stat-option-select {
        width: 100%;
    }
    @media screen and (min-width: 38em) {
        .stat-selector-wrapper {
            display: flex;
            align-items: center;

            .stat-selector-buttons {
                align-self: stretch;
                display: flex;
                align-items: center;
            }

            .stat-selector {
                flex-grow: 1;
            }
        }
    }

    @media screen and (min-width: 58em) {

        .stat-selector-wrapper {
            flex-grow: 4;
            width: auto;
        }

    }

}