<div class="flexed-inputs">
    <mat-form-field [floatLabel]="inputName ? '' : 'never'">
        <mat-label *ngIf="inputName">{{inputName}}</mat-label>
        <input #selectInput matInput type="text"  autocomplete="off" 
                [matAutocomplete]="selectInputAutoComplete" 
                [matAutocompleteConnectedTo]="autoCompleteHost"
                [placeholder]="selectEnum[control.value]"
                (input)="filter = filterEnums($event.target.value, selectEnum)"
                [value]="selectEnum[control.value]"
                (focus)="$event.target.value = ''; filter = filterEnums('', selectEnum)"
                (blur)="$event.target.value = selectEnum[control.value]"
                [disabled]="this.control.disabled">
                
        <mat-icon matSuffix class="icon-dark" [class.rotate]="selectInputAutoComplete.isOpen">arrow_drop_down</mat-icon>
        <mat-autocomplete #selectInputAutoComplete="matAutocomplete" 
                        [class]="autoCompleteClass" 
                        (closed)="selectInput.blur()"
                        autoActiveFirstOption="'true'"
                        (optionSelected)="control.patchValue($event.option.value); selectInput.blur()">
            <mat-option *ngFor="let value of filter" [class.mat-selected]="value == control.value" [value]="value">
                {{selectEnum[value]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
    
