<button 
    class="color-transparent-to-accent refresh" 
    mat-icon-button 
    (click)="this.refresh()"
    *ngIf="!gone"
>
    <mat-icon [class.refreshing]="refreshing">refresh</mat-icon>
</button>
<pos-item-image class="item-image" [item]='item.item'></pos-item-image>
<div class="details">
    <pos-item-details class="detail" [item]="item.item" [base]="item.item.hybrid"></pos-item-details>
    <pos-item-details class="detail" *ngIf="item.item.hybrid" [item]="item.item.hybrid" [base]="item.item"></pos-item-details>
</div>
<pos-item-listinginfo class="listing-info" *ngIf="!gone" [listing]="item.listing" ></pos-item-listinginfo>