@import './styles/shared.scss';

:host {
    display: grid;
    grid-template-areas: 
    'refresh details'
    'item-image details'
    'listing-info listing-info';
    grid-template-columns: minmax(30%, 1fr) minmax(auto, 40em);
    grid-template-rows: auto 1fr auto;
    gap: 1em;
    padding: 1em;

    &.gone {
        position: relative;

        &::after {
            content: 'Unavailable';
            color: white;
            background-color: rgba(#000000, 0.85);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            font-size: 1.5em;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .details {
        width: 100%;
        box-sizing: border-box;
        grid-area: details;

        .detail {
            display: block;
            box-sizing: border-box;
            width: 100%;
        }

        .detail:not(:first-child) {
            margin-top: 1em;
        }
    }

    .listing-info {
        align-self: center;
        grid-area: listing-info;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5em;
        margin: 1em auto 0;
        box-sizing: border-box;
    }


    .item-image {
        margin: 1em auto;
        grid-area: item-image;
    }

    .refresh {
        grid-area: refresh;
    }

    .refreshing {
        animation: rotation 1000ms linear infinite;
    }
}



@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
