@import './shared.scss';

.item-parsed-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    color: map-get($poe-property-colors, unmodified);

    .display-0 {
        color: map-get($poe-elemental-colors, physical);
    }

    .display-1 {
        color: map-get($poe-property-colors, modified);
    }

    .display-4 {
        color: map-get($poe-elemental-colors, fire);
    }

    .display-5 {
        color: map-get($poe-elemental-colors, cold);
    }

    .display-6 {
        color: map-get($poe-elemental-colors, lightning);;
    }

    .display-7 {
        color: map-get($poe-elemental-colors, chaos);
    }

    .display-unmet {
        color: map-get($poe-property-colors, corrupted);
    }

    .item-parsed-nested-list {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }
}