<div [formGroup]="group" class="min-max-inputs flexed-inputs">
    <div class="min-max-fields">
        <mat-form-field>
            <mat-label>Min</mat-label>
            <input appControldefaults [default]="defaultValues.max" digitsonly float='true' matInput type="text" autocomplete="off" formControlName="min">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Max</mat-label>
            <input appControldefaults [default]="defaultValues.min" digitsonly float='true'matInput type="text" autocomplete="off" formControlName="max">
        </mat-form-field>
    </div>
</div>