@import '../../../theme.scss';

.stat-select {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    overflow: hidden;

    .stat-selector {
        display: flex;
        flex: 4;
        background-color: mat-color($pathofshopping-primary, 500)!important;
        color: mat-color($pathofshopping-accent, 50);

        .remove-stat-button {
            width: 35px;
            min-width: 35px;
            height: 100%;
            align-self: center;
            padding: 0;
            border-radius: 0;
            background-color: rgb(0,0,0,0.3);

            .stat-icon {
                width: 100%;
                height: 100%;
                color: mat-color($pathofshopping-accent, 50);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        

        .mat-form-field {
            padding: 0 0.75em;
            margin-bottom: -0.75em;
            margin-top: 0.5em;
            min-width: 150px;
            flex: 1;

            .mat-form-field-underline, .mat-form-field-ripple {
                background-color: mat-color($pathofshopping-primary, 800);
            }

            .mat-form-field-infix {
                width: auto !important;
            }
        }
    }

    .stat-min-max-fields {
        display: flex;
        flex: 1;
        background-color: mat-color($pathofshopping-primary, 600);

        .mat-form-field {
            min-width: 50px;
            margin-bottom: -0.75em;
            margin-top: 0.5em;
            padding: 0 0.75em;
            flex: 1;

            .mat-form-field-underline, .mat-form-field-ripple {
                background-color: mat-color($pathofshopping-primary, 900);
            }

            .mat-form-field-infix {
                width: auto !important;
            }
        }
    }
    
}