<mat-expansion-panel class="filter-expansion-panel stat-filter" #expansionPanel [disabled]="this.statFilter.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons disableClear="true" includeDelete="true" (remove)="remove()" [formGroup]="this.statFilter" (disableChange)="this.statFilter.disabled ? expansionPanel.close() : ''; this.statFilter.controls.disabled.patchValue(this.statFilter.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
        Stat Filter
        <div class="type-selector mat-input-400">
            <app-filtergroupselect class="selector-input" disableDefault='true' (click)="$event.stopImmediatePropagation()" inputName='Filter Type' [styleType]="'basicMaterial'" [control]="this.statFilter['controls'].type" [selectEnum]="FILTER_TYPES"></app-filtergroupselect>
            <app-minmaxinput class="selector-input" (click)="$event.stopImmediatePropagation()" *ngIf="this.statFilter['controls'].type.value == 'count' || this.statFilter['controls'].type.value == 'weight'" [group]="this.statFilter['controls'].value" [styleType]="'basicMaterial'"></app-minmaxinput>
        </div>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div class="field-wrapper">
                <app-statselect class="field" *ngFor="let stat of this.statFilter['controls'].filters['controls']" (statRemoved)="removeStat($event)" [statGroup]="stat" 
                [isWeight]="this.statFilter.controls.type.value == 'weight'"></app-statselect>
            </div>
            <button mat-button type="button" class="transparent-mat-button" (click)="addStatFilter()" [disabled]="this.statFilter.disabled"><mat-icon>add_box</mat-icon> Stat</button>
        </div>
    </ng-template>
</mat-expansion-panel>