:host {
    color: transparent;
    text-shadow: none;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: inherit;
}

.asc, .desc {
    font-size: inherit;
    display: inline-flex;
    height: 1em;
    width: 1em;
    justify-content: center;
    vertical-align: bottom;
}

.asc {
    color: #309630;
}

.desc {
    color: #d20000;
}

.asc, .desc {
    transition: text-shadow 0.15s linear;
}