.item-total-values {
    color: rgb(151, 151, 151);
    display: flex;
    flex-wrap: wrap;

    .total-value {
        flex: 1;
        min-width: 30%;
        text-align: center;

        .value {
            color: white;

            &.auged {
                color: rgb(100, 100, 255);
            }
        }
    }
}