@import '../../../theme.scss';

.query-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .query-item {
        flex: 1 1 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;

        
        &:nth-child(4n + 1) {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:nth-child(4n + 2) {
            background-color: rgba(0, 0, 0, 0.15);
        }

        &:nth-child(4n + 3) {
            background-color: rgba(0, 0, 0, 0.2);
        }

        &:nth-child(4n + 4) {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
}

.item-paginator-container {
    background-color: transparent;
    border-top: 1px solid mat-color($pathofshopping-primary, 600);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;

    .toolbar-text {
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 0px;
        flex-basis: 0px;
        color: mat-color($pathofshopping-accent, 50);

        * {
            margin: 0;
            padding: 0;
        }

        .inexact {
            color: rgb(223, 126, 0);
        }
    }

    .results-header {
        flex: 1 1 0px;
        flex-basis: 0px;
        margin: 0 !important;
        padding: 0.25em !important;
        text-align: center;
    }

    .items-paginator {
        flex: 1 1 0px;
        flex-basis: 0px;
    }    
}

.items-paginator {
    background-color: transparent;
}

@media only screen and (max-width: 791px) {
    .item-paginator-container {
        justify-content: space-between;

        .results-header { 
            flex: 1 0 100%;
        }

        .toolbar-text {
            flex: 0 0 auto;
            text-align: center;
            justify-content: center;
            order: 1;
        }

        .items-paginator {
            flex: 0 0 auto;
            order: 2;
        }
    }
}

@media only screen and (max-width: 529px) { 
    .item-paginator-container {
        .toolbar-text {
            flex: 1 0 100%;
        }

        .items-paginator { 
            flex: 1 0 100%;
        }
    }
}