<form class="item-container">
    <div class="item-header-container">
        <div class="item-delete" (click)="remove()">
            <mat-icon class="icon-light">delete</mat-icon>
        </div>
        <div *ngIf="!editName" class="item-name" 
            (click)="editName = true" 
            role="button" aria-label="Edit item name">
            <p>{{itemData.itemForm.value.itemName.length > 0 ? itemData.itemForm.value.itemName : 'Item Name'}}</p>
            <mat-icon class="icon-light">edit</mat-icon>
        </div>
        <mat-form-field class="item-name-input" *ngIf="editName" [floatLabel]="'never'">
            <input #itemNameInput matInput 
                (keydown.enter)="$event.target.blur()"
                (blur)="editName = false" type="text" autocomplete="off" placeholder="Item Name"  [formControl]="itemData.itemForm.controls.itemName">
        </mat-form-field>
    </div>
        

    <div class="item-contents">
        <div class="filters">
            <app-typefilters class="filter type" [itemForm]="this.queryForm"></app-typefilters>
            <app-weaponfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters"></app-weaponfilters>
            <app-armourfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters"></app-armourfilters>
            <app-socketfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters"></app-socketfilters>
            <app-requirements class="filter" [itemForm]="queryForm['controls'].query['controls'].filters"></app-requirements>
            <app-mapfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters"></app-mapfilters>
            <app-specialbases class="filter" [itemForm]="queryForm['controls'].query['controls'].filters['controls'].misc_filters['controls'].filters"></app-specialbases>
            <app-gemfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters['controls'].misc_filters['controls'].filters"></app-gemfilters>
            <app-otherfilters class="filter" [itemForm]="queryForm['controls'].query['controls'].filters['controls'].misc_filters['controls'].filters"></app-otherfilters>
            <app-tradefilters class="filter" [filterGroup]="queryForm['controls'].query['controls'].filters"></app-tradefilters>
            <app-statfilters class="filter" *ngFor="let filter of itemData.statFilters" [filter]="filter" (filterRemoved)="removeStatFilter($event)"></app-statfilters>
            <button mat-flat-button type="button" (click)="addStatGroup()" class="add-stat-group"><mat-icon>add</mat-icon>Add Stat Group</button>
            <div class="query-actions">
                <div class="query-buttons">
                    <button class="query-button search" mat-flat-button type="button" (click)="queryIDs('price', 'asc')">Search</button>
                    <button class="query-button" mat-flat-button type="button" (click)="this.showResults = !this.showResults" *ngIf="this.itemData.resultData.queryProps || this.showResults">
                        {{ showResults ? 'Hide Results' : 'Show Results'}}
                    </button>
                    <button class="query-button" mat-flat-button type="button" (click)="this.queryForm.reset()">Clear</button>
                </div>
                <app-filtergroupselect class="status-field" default="online" inputName='Status' styleType="basicMaterial" [control]="queryForm['controls'].query['controls'].status['controls'].option" [selectEnum]="STATUS_OPTIONS"></app-filtergroupselect>
            </div>
        </div>
        <app-results *ngIf="showResults" class="results" [resultData]="itemData.resultData" [currentSort]="this.queryForm.controls.sort.getRawValue()" (newSort)="queryIDs($event)"></app-results>
    </div>
</form>

