@import '../../../styles.scss';

.mat-expansion-panel {
    margin: 1.25em 0 !important;
    background-color: mat-color($pathofshopping-primary, 400);
    box-shadow: none !important;

    .mat-expansion-panel-header {
        padding: 0 0 !important;
        background-color: mat-color($pathofshopping-primary, 400);

        &:hover {
            background-color: mat-color($pathofshopping-primary, 400) !important;
        }

        &.mat-expansion-panel-header.mat-expanded {
            height: 48px;
            background-color: mat-color($pathofshopping-primary, 400);
            border-radius: 4px 4px 0 0;
            border-bottom: 1px dashed mat-color($pathofshopping-primary, 500);
        }
    
        .mat-content {
            height: 100%;

            .mat-expansion-panel-header-title {
                flex-grow: 0.3;
                max-width: 48px;

                .item-delete {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    background-color: mat-color($pathofshopping-warn, 800);
                    transition: 0.15s background-color ease-in-out;

                    &:hover {
                        background-color: mat-color($pathofshopping-warn, 600);
                    }
                }
            }
        }

        .item-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            max-width: 70%;
            height: 100%;
            color: mat-color($pathofshopping-accent, 50);
            font-weight: 300;

            p {
                white-space: nowrap;
                overflow: hidden;
                max-width: calc(100% - (20px + 1.5em));
                margin: 0;
                padding: 0 0.75em;
            }

            mat-icon {
                font-size: 20px;
                width: 20px;
            }
        }

        .mat-form-field {
            font-size: 100%;
            flex-grow: 0.6;
            flex-shrink: 1;
            min-width: 0;
            max-width: 70%;
            margin: auto;

            .mat-form-field-underline, .mat-form-field-ripple {
                background-color: mat-color($pathofshopping-primary, 500);
            }

            .mat-form-field-label {
                color: mat-color($pathofshopping-accent, 50);
            }
        }

        .mat-expansion-indicator {
            margin: 0 20px;

            &:after {
                color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .mat-expansion-panel-body {
        padding: 0;
        width: 95%;
        margin: auto;
    }

    .mat-form-field {
        font-weight: 300;

        mat-label, .mat-input-element {
            color: mat-color($pathofshopping-accent, 50);
        }

        .mat-select-arrow {
            color: mat-color($pathofshopping-primary, 500);
        }

        .mat-form-field-underline, .mat-form-field-ripple {
            background-color: mat-color($pathofshopping-primary, 500);
        }
    }

    &.sub-item-expansion {
        width: 100%;

        .mat-expansion-panel-header {
            color: mat-color($pathofshopping-accent, 50);
            font-weight: 300;
            border-bottom: 1px solid mat-color($pathofshopping-primary, 500);
    
            &.mat-expansion-panel-header.mat-expanded {
                border-bottom-style: solid;
            }
        }

        .mat-content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 1em;
        }
    }

    .item-contents {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 0.75em;

        .field-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            font-size: 14px;
    
            .mat-form-field {
                padding-left: 0.75em;
                padding-right: 0.75em;
                flex: 1;
            }

            #search-field {
                flex: 4;
            }

            .min-max-field {
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                flex: 1 0 400px;
                max-width: 100%;
                margin: 0.25em;
                border-radius: 4px;
                border: 1px solid mat-color($pathofshopping-primary, 500);
            }

            .min-max-field, .group-filter-input {
                flex: 1 0 400px;
                max-width: 100%;
                margin: 0.25em;

                .min-max-field-label {
                    padding: 1em;
                    margin: 0;
                    width: 100%;
                    background-color: mat-color($pathofshopping-primary, 500);
                    color: mat-color($pathofshopping-accent, 50);
                }

                .mat-form-field {
                    min-width: 50px;
                    margin-bottom: -0.75em;
                    margin-top: 0.25em;

                    .mat-form-field-infix {
                        width: auto !important;
                      }
                }

                .sub-min-max-fields, .min-max-fields {
                    display: flex;
                    flex: 1 1 50%;
                    max-width: 100%;
                }

                .sub-min-max-fields {

                    .mat-form-field {
                        flex: 1 1 0px;
                        max-width: 20%;
                        min-width: 25px;

                        &.socket-input-g {
                            .mat-form-field-underline, .mat-form-field-ripple {
                                background-color: rgb(0, 163, 0);
                            }
                        }
        
                        &.socket-input-r {
                            .mat-form-field-underline, .mat-form-field-ripple {
                                background-color: rgb(180, 0, 0);
                            }
                        }

                        &.socket-input-b {
                            .mat-form-field-underline, .mat-form-field-ripple {
                                background-color: rgb(0, 0, 196);
                            }
                        }

                        &.socket-input-w {
                            .mat-form-field-underline, .mat-form-field-ripple {
                                background-color: rgb(255, 255, 255);
                            }
                        }
                    }
                }
            }
        }
    }
}

.item-form-select {
    background-color: mat-color($pathofshopping-primary, 200) !important;

    .mat-option-text {
        color: mat-color($pathofshopping-accent, 50);
    }
}

.autocomplete-panel {
    background-color: mat-color($pathofshopping-primary, 200);
    
    .mat-optgroup {

        .mat-optgroup-label {
            color: mat-color($pathofshopping-primary, 500);
        }
    }

    .mat-option {

        .mat-option-text {
            font-size: 14px;
            font-weight: 300;
            color: mat-color($pathofshopping-accent, 50);
        }
    }

    .mat-option.mat-selected:not(.mat-active):not(:hover) {
        background-color: rgba(0, 0, 0, 0.1);
    }
}



