<form [formGroup]="itemForm">
    <mat-expansion-panel [expanded]="'true'">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="item-delete" (click)="$event.stopImmediatePropagation(); remove()">
                    <mat-icon class="icon-light">delete</mat-icon>
                </div>
            </mat-panel-title>
            <div *ngIf="!this.getEditName()" class="item-name" 
                (click)="$event.stopImmediatePropagation(); this.setEditName(true)" 
                role="button" aria-label="Edit item name">
                <p>{{itemForm.value.itemName}}</p>
                <mat-icon class="icon-light">edit</mat-icon>
            </div>
            <mat-form-field *ngIf="this.getEditName()" [floatLabel]="'never'" (click)="$event.stopImmediatePropagation();" >
                <input #itemNameInput matInput 
                    (keydown.Space)="$event.stopImmediatePropagation()" 
                    (keydown.enter)="$event.stopImmediatePropagation(); $event.target.blur()"
                    (blur)="this.setEditName(false)" type="text" autocomplete="off" placeholder="Item Name"  formControlName="itemName">
            </mat-form-field>
        </mat-expansion-panel-header>

        <div class="item-contents">
            <app-typefilters [itemForm]="this.itemForm"></app-typefilters>
            <app-weaponfilters [itemForm]="this.itemForm"></app-weaponfilters>
            <app-armourfilters [itemForm]="this.itemForm"></app-armourfilters>
            <app-socketfilters [itemForm]="this.itemForm"></app-socketfilters>
            <app-requirements [itemForm]="this.itemForm"></app-requirements>
            <app-mapfilters [itemForm]="this.itemForm"></app-mapfilters>
            <app-specialbases [itemForm]="this.itemForm"></app-specialbases>
            <app-gemfilters [itemForm]="this.itemForm"></app-gemfilters>
            <app-otherfilters [itemForm]="this.itemForm"></app-otherfilters>
            <app-statfilters [itemForm]="this.itemForm"></app-statfilters>
        </div>
    </mat-expansion-panel>
</form>

