@import '../../../theme.scss';

.item-container {
    width: 95%;
    margin: auto;
    margin-top: 1.5em;
    border-radius: 4px;
    background-color: mat-color($pathofshopping-primary, 400);
    overflow: hidden;

    .item-header-container {
        display: flex;
        box-sizing: border-box;
        border-bottom: 1px dashed mat-color($pathofshopping-primary, 500);
        min-height: 45px;
    
        .item-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            background-color: mat-color($pathofshopping-warn, 800);
            transition: 0.15s background-color ease-in-out;
    
            &:hover {
                cursor: pointer;
                background-color: mat-color($pathofshopping-warn, 600);
            }
        }
    
        .item-name {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            max-width: 70%;
            height: 100%;
            color: mat-color($pathofshopping-accent, 50);
            font-weight: 300;
    
            p {
                white-space: nowrap;
                overflow: hidden;
                max-width: calc(100% - (20px + 1.5em));
                margin: 0;
                padding: 0 0.75em;
            }
    
            mat-icon {
                font-size: 20px;
                width: 20px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        .item-name-input.mat-form-field {
            font-size: 100%;
            flex-grow: 0.6;
            flex-shrink: 1;
            min-width: 0;
            max-width: 70%;
            margin: auto;
            margin-bottom: -1em;
            font-weight: 300;
    
            mat-label, .mat-input-element {
                color: mat-color($pathofshopping-accent, 50);
            }
    
            .mat-select-arrow {
                color: mat-color($pathofshopping-primary, 500);
            }
    
            .mat-form-field-underline, .mat-form-field-ripple {
                background-color: mat-color($pathofshopping-primary, 500);
            }
        }
    }

    .item-contents {
        width: 100%;

        .filters {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 95%;
            margin: auto;
            margin-top: 0.75em;

            .filter {
                width: 100%;
                margin: 0.25em 0;

                &.type {
                    .mat-form-field {
                        font-weight: 300;
                    
                        mat-label, .mat-input-element {
                            color: mat-color($pathofshopping-accent, 50);
                        }
                    
                        .mat-select-arrow {
                            color: mat-color($pathofshopping-primary, 500);
                        }
                    
                        .mat-form-field-underline, .mat-form-field-ripple {
                            background-color: mat-color($pathofshopping-primary, 500);
                        }
                    }
                }
            }

            .add-stat-group {
                background-color: transparent;
                margin: auto;
                margin-top: 1em;
                color: mat-color($pathofshopping-primary, 50);
                border: 1px solid mat-color($pathofshopping-primary, 600);
            }

            .query-buttons {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin: 1.5em auto;
    
                .query-button {
                    color: mat-color($pathofshopping-accent, 50);
                    background-color: mat-color($pathofshopping-primary, 500);
    
                    &.search {
                        margin-right: auto;
                        background-color: rgb(55, 150, 55);
                    }
                }
            }
        }

        .results {
            height: auto;
        }
    }
}

    


.autocomplete-panel {
    background-color: mat-color($pathofshopping-primary, 300);
    
    .mat-optgroup {
        .mat-optgroup-label {
            color: mat-color($pathofshopping-primary, 600);
        }
    }

    .mat-option {
        .mat-option-text {
            font-size: 14px;
            font-weight: 300;
            color: mat-color($pathofshopping-accent, 50);
        }
    }

    .mat-option.mat-selected:not(.mat-active):not(:hover) {
        background-color: rgba(0, 0, 0, 0.1);
    }
}



