<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.tradeForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.tradeForm" (disableChange)="this.tradeForm.disabled ? expansionPanel.close() : ''; this.tradeForm.controls.disabled.patchValue(this.tradeForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Trade & Account Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-inputwrapper class="field">
                    <span label>Account Name</span> 
                    <div class="flexed-inputs">
                        <mat-form-field floatLabel='never'>
                            <mat-label>Account Name</mat-label>
                            <input matInput appControldefaults [formControl]="tradeForm['controls'].filters['controls'].account['controls'].input" autocomplete="off">
                        </mat-form-field>
                    </div>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #listedSelect="matAutocompleteOrigin">
                    <span label>Listed</span> 
                    <app-filtergroupselect [autoCompleteHost]='listedSelect' [control]="tradeForm['controls'].filters['controls'].indexed['controls'].option" [selectEnum]="LISTED_OPTIONS"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #saleTypeSelect="matAutocompleteOrigin">
                    <span label>Sale Type</span> 
                    <app-filtergroupselect [autoCompleteHost]='saleTypeSelect' [control]="tradeForm['controls'].filters['controls'].sale_type['controls'].option" [selectEnum]="SALE_TYPES"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field" matAutocompleteOrigin #buyoutSelect="matAutocompleteOrigin">
                    <span label>Buyout Currency</span> 
                    <app-filtergroupselect [autoCompleteHost]='buyoutSelect' [control]="tradeForm['controls'].filters['controls'].price['controls'].option" [selectEnum]="BUY_OUT_OPTIONS"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Buyout Price</span> 
                    <app-minmaxinput [group]="this.tradeForm['controls'].filters['controls'].price"></app-minmaxinput>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>