@import '../../../../theme.scss';

.stat-filter {
    .item-contents {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .field-wrapper {
            width: 100%;

            .field {
                flex: 1 1 100% !important;
            }
        }

        .add-filter-button {
            background-color: transparent;
            color: mat-color($pathofshopping-accent, 50);
            margin-top: 0.3em;
        }
    }
}

.type-selector {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    flex: 1 1 auto;
    max-width: 100%;
    justify-content: flex-end;
}

@media only screen and (max-width: 908px) {
    .type-selector {
        margin-top: 0.15em;
        flex: 1 1 100%;

        .selector-input {
            flex: 1 1 auto;
        }
    }
}