<mat-expansion-panel class="filter-expansion-panel stat-filter">
    <mat-expansion-panel-header>
            <div class="stats-header">
                <div class="header-text-wrapper">
                    <mat-icon *ngIf="viewRef" class="delete-filter-group" role="button" (click)="$event.stopImmediatePropagation(); destroy()" >delete</mat-icon>
                    <span class="header-text">Stat Filter</span>
                </div>
                <div class="type-selector">
                    <app-filtergroupselect class="selector-input" (click)="$event.stopImmediatePropagation()" inputName='Filter Type' [styleType]="'basicMaterial'" [control]="statFilters['controls'].type" [selectEnum]="FILTER_TYPES"></app-filtergroupselect>
                    <app-minmaxinput class="selector-input" (click)="$event.stopImmediatePropagation()" *ngIf="statFilters['controls'].type.value == 'count' || statFilters['controls'].type.value == 'weight'" [group]="statFilters['controls'].value" [styleType]="'basicMaterial'"></app-minmaxinput>
                </div>
            </div>
    </mat-expansion-panel-header>
    <div class="item-contents">
        <div class="field-wrapper">
            <app-statselect class="field" *ngFor="let stat of stats" (statRemoved)="removeStat($event)" [stat]="stat" 
            [isWeight]="this.statFilters.controls.type.value == 'weight'"></app-statselect>
        </div>
        <button mat-button class="add-filter-button" (click)="addStatFilter()"><mat-icon>add</mat-icon></button>
    </div>
</mat-expansion-panel>