@import '../../../../theme.scss';

.account-name-input  {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    background-color: mat-color($pathofshopping-primary, 600);
    overflow: hidden;
    max-width: 100%;

    .account-name-label {
        padding: 1em;
        margin: 0;
        flex: 1;
        min-width: 150px;
        background-color: mat-color($pathofshopping-primary, 500);
        color: mat-color($pathofshopping-accent, 50);
    }

    .mat-form-field {
        min-width: 150px;
        margin-bottom: -0.75em;
        margin-top: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        flex: 4;

        .mat-form-field-underline, .mat-form-field-ripple {
            background-color: mat-color($pathofshopping-primary, 800);
        }

        .mat-form-field-infix {
            width: auto !important;
        }
    }
}