<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.weaponForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.weaponForm" (disableChange)="this.weaponForm.disabled ? expansionPanel.close() : ''; this.weaponForm.controls.disabled.patchValue(this.weaponForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Weapon Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Damage" [group]="this.weaponForm['controls'].filters['controls'].damage"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Attacks Per Second" [group]="this.weaponForm['controls'].filters['controls'].aps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Critical Strike Chance" [group]="this.weaponForm['controls'].filters['controls'].crit"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Total DPS" [group]="this.weaponForm['controls'].filters['controls'].dps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Physcial DPS" [group]="this.weaponForm['controls'].filters['controls'].pdps"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Elemental DPS" [group]="this.weaponForm['controls'].filters['controls'].edps"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>
