<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.requirementFilters.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.requirementFilters" (disableChange)="this.requirementFilters.disabled ? expansionPanel.close() : ''"></app-filteractionbuttons>
            Requirements
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Level" [group]="this.requirementFilters['controls'].filters['controls'].lvl"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Strength" [group]="this.requirementFilters['controls'].filters['controls'].str"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Intelligence" [group]="this.requirementFilters['controls'].filters['controls'].int"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Dexterity" [group]="this.requirementFilters['controls'].filters['controls'].dex"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>