<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
        <mat-icon class="clear-filter" *ngIf="this.requirementFilters['controls'].filters.dirty" (click)="$event.stopImmediatePropagation(); this.reset()">clear</mat-icon>  
        <mat-button-toggle (click)="$event.stopImmediatePropagation();
                                    disableFilter.checked ? this.requirementFilters.disable() : this.requirementFilters.enable()" [checked]="this.requirementFilters.disabled" #disableFilter disableRipple="true" class="filter-disable"><mat-icon>block</mat-icon></mat-button-toggle>
            Requirements
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Level" [group]="this.requirementFilters['controls'].filters['controls'].lvl"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Strength" [group]="this.requirementFilters['controls'].filters['controls'].str"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Intelligence" [group]="this.requirementFilters['controls'].filters['controls'].int"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Dexterity" [group]="this.requirementFilters['controls'].filters['controls'].dex"></app-minmaxinput>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>