<mat-expansion-panel class="filter-expansion-panel">
    <mat-expansion-panel-header>
            Requirements
    </mat-expansion-panel-header>
    <div class="item-contents">
        <div appEqualflex class="field-wrapper">
            <app-minmaxinput class="field" inputName="Level" [group]="this.requirementFilters.get('filters.lvl')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Strength" [group]="this.requirementFilters.get('filters.str')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Intelligence" [group]="this.requirementFilters.get('filters.int')"></app-minmaxinput>
            <app-minmaxinput class="field" inputName="Dexterity" [group]="this.requirementFilters.get('filters.dex')"></app-minmaxinput>
        </div>
    </div>
</mat-expansion-panel>