<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.gemFilters.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.gemFilters" (disableChange)="this.gemFilters.disabled ? expansionPanel.close() : ''"></app-filteractionbuttons>
            Gem Filters
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-minmaxinput class="field" inputName="Level" [group]="this.gemFilters['controls'].gem_level"></app-minmaxinput>
                <app-minmaxinput class="field" inputName="Experience (%)" [group]="this.gemFilters['controls'].gem_level_progress"></app-minmaxinput>
                <app-filtergroupselect class="field" inputName='Quality Type' [control]="this.gemFilters['controls'].gem_alternate_quality['controls'].option" [selectEnum]="GEM_QUALITY_TYPES"></app-filtergroupselect>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>