@use '~@angular/material' as mat;
@import '../../../../theme.scss';

.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
    background-color: mat.get-color-from-palette($pathofshopping-primary, 600);
    overflow: hidden;
    
    .input-label {
        display: flex;
        align-items: center;
        line-height: normal;
        padding: 1em;
        margin: 0;
        flex: 1;
        min-width: 150px;
        background-color: mat.get-color-from-palette($pathofshopping-primary, 500);
        color: mat.get-color-from-palette($pathofshopping-accent, 50);
    }

    .inputs {
        min-width: 150px;
        flex: 4;
    }
}