@import '~@angular/material/theming';
@include mat-core();

$pathofshopping-primary: mat-palette($mat-indigo);
$pathofshopping-accent: mat-palette($mat-pink, A200, A100, A400);

$pathofshopping-warn: mat-palette($mat-red);

$pathofshopping-theme: mat-light-theme((
  color: (
    primary: $pathofshopping-primary,
    accent: $pathofshopping-accent,
    warn: $pathofshopping-warn,
  )
));

@include angular-material-theme($pathofshopping-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
