html, body { 
  height: 100%; 
}

body { 
  background-repeat: no-repeat;
  background-position: center 100%;
  background-size: cover;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), mat-color($pathofshopping-primary, 800) 300px), url('assets/topBgImage.png');
  background-color: mat-color($pathofshopping-primary, 800);
  margin: 0;  
}

mat-icon {
  transition: transform 0.15s ease-in-out;

  &.icon-light {
    color: mat-color($pathofshopping-accent, 50);
  }

  &.icon-dark {
    color: rgba(0, 0, 0, 0.3);
  }

  &.rotate {
    transform: rotate(180deg);
  }
}

.filter-expansion-panel {
  margin-top: 0.5em !important;
  background-color: transparent;
  box-shadow: none !important;

  .mat-expansion-panel-header {
    color: mat-color($pathofshopping-accent, 50);
    font-weight: 300;
    height: auto;
    min-height: 45px;
    padding: 0 0 !important;
    background-color: transparent;
    border-bottom: 1px solid mat-color($pathofshopping-primary, 500);
    border-radius: 0px;

    &:hover {
      background-color: transparent !important;
    }

    .mat-expansion-indicator {
      margin-left: 5px;
      margin-right: 10px;

      &:after {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .mat-expansion-panel-body {
    padding: 0;
    width: 100%;
    margin: auto;
  }

  .mat-content {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0.15em;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  &.stat-filter {
    .mat-content {
      flex-wrap: wrap;
    }
  }

  .field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .stat-field {
      width: 100%;
      margin: 0.5em;
    }

    .field {
        flex: 1 1 400px;
        max-width: 100%;
        margin: 0.25em;
    }
  }
}

.flexed-inputs {
  display: flex;

  .mat-form-field {
    flex: 1;

    .mat-form-field-infix {
      width: auto !important;
    }
  }
}

.mat-form-field {
  font-weight: 300;
  margin-bottom: -0.75em;
  margin-top: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;

  mat-label, .mat-input-element, .mat-select-value-text, .mat-hint {
    color: mat-color($pathofshopping-accent, 50);
  }

  .mat-form-field-label, .mat-input-element, .mat-select-value-text, .mat-form-field-suffix {
    padding-left: 0.5em;
  }

  &.mat-form-field-should-float {
    .mat-form-field-label {
      padding-left: 0.1em;
    }
  }
}

.socket-input-g {
  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: rgb(0, 163, 0) !important;
  }
}

.socket-input-r {
  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: rgb(180, 0, 0) !important;
  }
}

.socket-input-b {
  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: rgb(0, 0, 196) !important;
  }
}

.socket-input-w {
  .mat-form-field-underline, .mat-form-field-ripple {
    background-color: rgb(255, 255, 255) !important;
  }
}

.item-tabs {
  border-top: 1px solid mat-color($pathofshopping-primary, 700);

  .mat-tab-header {
    background-color: mat-color($pathofshopping-primary, 500);
  }

  .mat-tab-label {
      color: mat-color($pathofshopping-accent, 50);
      opacity: 1;
  }

  .mat-tab-header-pagination-chevron {
      border-color: mat-color($pathofshopping-accent, 50);
  }

  .mat-ink-bar {
    background-color: mat-color($pathofshopping-primary, 300);
  }
}

.item-progress-bar {
  width: 95%;
  margin: auto;
  margin-top: 0.25em;
  box-sizing: border-box;

  .mat-progress-bar-fill::after {
      background-color: rgb(201,161,84);
  }
  
  .mat-progress-bar-buffer {
      background: rgba(0, 0, 0, 0.5);
  }

  .mat-progress-bar-background {
      fill: none;
  }
}

.item-fetch-progress-bar {
  .mat-progress-bar-fill::after {
      background: mat-color($pathofshopping-primary, 600);
  }
  
  .mat-progress-bar-buffer {
      background-color: mat-color($pathofshopping-primary, 300);
  }

  .mat-progress-bar-background {
      fill: none;
  }
}

.mat-spinner {   
  circle {
    stroke: mat-color($pathofshopping-primary, 300);
  }
}

.save-dialog {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;

  .mat-dialog-container {
    flex: 0 1 500px;
    background-color: mat-color($pathofshopping-primary, 600);
    color: mat-color($pathofshopping-accent, 50);
    padding: 10px !important;
    height: auto;

    .mat-dialog-content {
      padding: 0;
      margin: 0;
    }
  }

  &.error {
    .mat-dialog-container {
      background-color: mat-color($pathofshopping-warn, 900);
    }
  }

  .save-dialog-title {
    display: flex;
    font-size: mat-font-size($pathofshopping-typography, subheading-1);

    .title-text {
      margin: 0;
      text-align: center;
      flex: 1 1 auto;
      padding-left: 1.6em;
    }
  }

  .message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .url-container {
    width: 100%;

    .mat-form-field {
      box-sizing: border-box;
      width: 100%;
    }

    .save-note {
      color: mat-color($pathofshopping-warn, 300);
      text-align: center;
    }
  }
}

.error-snack-bar {
  background-color: mat-color($pathofshopping-warn, 900);
}

@media only screen and (max-width: 610px) {

  .socket-field-wrapper {
    .input-wrapper {
      .input-label {
        flex-basis: 100% !important;
      }
    }
  }
  
}