@import '../../../../theme.scss';

.query-results-container {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    background-color: mat-color($pathofshopping-primary, 300);

    .results-header {
        color: white;
        text-align: center;
        font-weight: 300;
        margin: 0;
        padding: 0.15em 0;
    }

    .query-item {
        margin: auto;
        width: 95%;
        background-color: rgba(0, 0, 0, 0.65);
        color: mat-color($pathofshopping-accent, 50);
        border-radius: 4px;
        overflow: hidden;
        margin: 1em auto;

        .query-item-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: 300;

            .item-name, .item-type {
                margin: 0;
                padding-top: 0.1em;
            }

            &.rarity-0 {
                color:rgb(226, 226, 226);
                background-color:rgb(90, 90, 90);
            }
            &.rarity-1 {
                color: rgb(131, 132, 190);
                background-color: rgb(71, 68, 95);
            }
            &.rarity-2 {
                color: rgb(236,235,109);
                background-color: rgb(120,89,33);
            }
            &.rarity-3 {
                color: rgb(201, 106, 24);
                background-color: rgb(107, 56, 34);
            }
            &.rarity-4 {
                color: rgb(17, 185, 177);
                background-color: rgb(11, 94, 89);
            }
            &.rarity-5 {
                color: rgb(133,124,94);
                background-color: rgb(92, 86, 65);
            }
            &.rarity-6 {
                color: black;
                background-color: rgb(159,147,135);
            }
            &.rarity-8 {
                color: rgb(181,73,249);
                background-color: rgb(91, 36, 126);
            }
            &.rarity-9 {
                color: rgb(105,101,56);
                background-color: rgb(25,51,75);
            }
        } 
        
        .query-item-details-container {
            display: flex;
            flex-wrap: wrap;
            margin: 0.5em 0;

            .item-detail {
                justify-content: center;
                flex: 1 1 auto;
            }

            .item-image {
                display: flex;
                flex: 0 1 100px;
                padding: 0 15px;
                align-items: center;
                justify-content: center;
            }

            .item-properties {

                .prop-1 {
                    color: rgb(100, 100, 255);
                }

                .prop-4 {
                    color: rgb(223, 37, 4);
                }

                .prop-5 {
                    color: rgb(132, 226, 230);
                }

                .prop-6 {
                    color: rgb(255, 238, 0);
                }

                .prop-7 {
                    color: rgb(119, 25, 119);
                }
            }
        }
        
    }
}