@import '../../../../theme.scss';

.query-results-container {
    flex-grow: 1;
    height: 0;
    overflow-y: auto;
    background-color: mat-color($pathofshopping-primary, 300);

    .results-header {
        color: white;
        text-align: center;
        font-weight: 300;
        margin: 0;
        padding: 0.15em 0;
    }

    .query-item {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 95%;
        margin: 1em auto;
        justify-content: center;

        .item-image {
            flex: 0 1 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .item-line-break {
            width: 100%;
            margin-top: 2em;
            background-color: mat-color($pathofshopping-primary, 400);
            border-width: 0px;
            height: 1px;
        }

        .query-item-box {
            flex: 1 1 275px;
            background-color: rgba(0, 0, 0, 0.65);
            color: mat-color($pathofshopping-accent, 50);
            border-radius: 4px;
            overflow: hidden;
            align-self: flex-start;

            .query-item-header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-weight: 300;
                min-height: 45px;
    
                .item-name, .item-type {
                    margin: 0;
                    padding-top: 0.1em;
                }
            } 
    
            &.rarity-0 {
                .query-item-header, .item-detail:after  {
                    color:rgb(226, 226, 226);
                    background-color:rgb(90, 90, 90);
                }
            }
            &.rarity-1 {
                .query-item-header, .item-detail:after  { 
                    color: rgb(131, 132, 190);
                    background-color: rgb(71, 68, 95);
                }
            }
            &.rarity-2 {
                .query-item-header, .item-detail:after  { 
                    color: rgb(236,235,109);
                    background-color: rgb(120,89,33);
                }
            }
            &.rarity-3 {
                .query-item-header, .item-detail:after  { 
                    color: rgb(201, 106, 24);
                    background-color: rgb(107, 56, 34);
                }
            }
            &.rarity-4 {
                .query-item-header, .item-detail:after  { 
                    color: rgb(17, 185, 177);
                    background-color: rgb(11, 94, 89);
                }
            }
            &.rarity-5 {
                .query-item-header, .item-detail:after  {
                    color: rgb(133,124,94);
                    background-color: rgb(92, 86, 65);
                }
            }
            &.rarity-6 {
                .query-item-header, .item-detail:after  {
                    color: black;
                    background-color: rgb(159,147,135);
                }
            }
            &.rarity-8 {
                .query-item-header, .item-detail:after  {
                    color: rgb(181,73,249);
                    background-color: rgb(91, 36, 126);
                }
            }
            &.rarity-9 {
                .query-item-header, .item-detail:after  {
                    color: rgb(105,101,56);
                    background-color: rgb(25,51,75);
                }
            }
            
            .query-item-details-container {
                display: flex;
                flex-direction: column;
    
                .item-detail {
                    flex: 1 1 auto;
                    text-align: center;
                    padding-left: 0;
                    padding-top: 0.5em;
                    margin: 0;
                    list-style: none;

                    li {
                        padding: 0.15em;
                    }
                }
    
                .item-detail:after {
                    content: "";
                    display: block;
                    width: 95%;
                    height: 1px;
                    margin: auto;
                    margin-top: 0.5em;
                }
    
                .item-detail:last-child:after {
                    display: none;
                }
    
                .item-parsed-list {
                    color: rgb(151, 151, 151);

                    &:last-child {
                        padding-bottom: 0.5em;
                    }

                    .display-0 {
                        color: white;
                    }
    
                    .display-1 {
                        color: rgb(100, 100, 255);
                    }
    
                    .display-4 {
                        color: rgb(223, 37, 4);
                    }
    
                    .display-5 {
                        color: rgb(132, 226, 230);
                    }
    
                    .display-6 {
                        color: rgb(255, 238, 0);
                    }
    
                    .display-7 {
                        color: rgb(182, 38, 182);
                    }

                    .item-parsed-nested-list {
                        list-style: none;
                        margin: 0;
                        display: inline-block;

                        li {
                            display: inline-block;
                        }
                    }
                }

                .item-explicit-mods {
                    color: rgb(100, 100, 255);

                    .mod {
                        padding: 0.3em;

                        .mod-details {
                            box-sizing: border-box;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            margin-top: 0.25em;

                            .mod-detail {
                                flex: 0 1 auto;
                                text-align: center;
                            }

                            &[class*='type-P'] {
                                color: #ec7676;
                            }

                            &[class*='type-S'] {
                                color: #7aaff1;
                            }
                        }

                        &:nth-child(even) {
                            background-color: rgba(0, 0, 0, 0.15);
                        }
                    }
                }
            }

        }
    }
}