<mat-expansion-panel class="filter-expansion-panel" #expansionPanel [disabled]="this.influenceForm.disabled">
    <mat-expansion-panel-header>
        <app-filteractionbuttons [formGroup]="this.influenceForm" (disableChange)="this.influenceForm.disabled ? expansionPanel.close() : ''; this.influenceForm.controls.influenceForm_disabled.patchValue(this.influenceForm.disabled, {emitEvent: false, onlySelf: true})"></app-filteractionbuttons>
            Special Bases
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <div class="item-contents">
            <div appEqualflex class="field-wrapper">
                <app-inputwrapper class="field">
                    <span label>Shaper Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].shaper_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Elder Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].elder_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Crusader Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].crusader_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Redeemer Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].redeemer_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Hunter Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].hunter_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Warlord Influence</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].warlord_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Fractured</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].fractured_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
                <app-inputwrapper class="field">
                    <span label>Synthesised</span> 
                    <app-filtergroupselect [control]="influenceForm['controls'].synthesised_item['controls'].option" [selectEnum]="TRUE_FALSE"></app-filtergroupselect>
                </app-inputwrapper>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>