<mat-form-field class="no-padding" [floatLabel]="inputName ? '' : 'never'" appearance="fill" color="accent">
    <mat-label *ngIf="inputName">{{inputName}}</mat-label>
    <input #selectInput 
            #trigger="matAutocompleteTrigger" 
            matInput type="text"  
            autocomplete="off" 
            [matAutocomplete]="selectInputAutoComplete" 
            [matAutocompleteConnectedTo]="autoCompleteHost"
            [placeholder]="getPlaceholder()"
            [formControl]="search"
            (focus)="!selectingOption ? (clearOnFocus ? search.patchValue('') : search.patchValue(displayBy(selectedValue))) : ''"
            (blur)="onInputBlur(selectInput, trigger)">
    
    <span class="suffix" matSuffix>
        <button mat-icon-button 
                type="button" 
                *ngIf="this.search.value && clearable" 
                (mousedown)="clear()" 
                aria-label="Clear">
            <mat-icon class="icon-light">clear</mat-icon>
        </button>
        <mat-icon class="icon-dark" [class.rotate]="selectInputAutoComplete.isOpen">arrow_drop_down</mat-icon>
    </span>
    
    <mat-autocomplete #selectInputAutoComplete="matAutocomplete" 
                    class="search-select" 
                    (closed)="selectInput.blur()"
                    (optionSelected)="selectValue($event.option.value, true)">
        <ng-container *ngIf="groupOptions">
            <mat-optgroup *ngFor="let group of filteredSearch | async" [label]="group[groupOptions.groupedBy]">
                <mat-option *ngFor="let value of group[groupOptions.groupedInto] | slice:0:50;" 
                            [class.mat-selected]="value == selectedValue" 
                            [value]="value" 
                            (mousedown)="selectingOption = true" 
                            (mouseup)="selectingOption = false" 
                            (blur)="selectingOption = false">
                    {{displayBy ? displayBy(value) : value}}
                </mat-option>
            </mat-optgroup> 
        </ng-container>
        <ng-container *ngIf="!groupOptions">
            <mat-option *ngFor="let value of filteredSearch | async" 
                        [class.mat-selected]="value == selectedValue" 
                        [value]="value" 
                        (mousedown)="selectingOption = true" 
                        (mouseup)="selectingOption = false" 
                        (blur)="selectingOption = false">
                {{displayBy ? displayBy(value) : value}}
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</mat-form-field>