@import '../../theme.scss';

.topbar-select {
    background-color: mat-color($pathofshopping-primary, 400) !important;

    .mat-option-text {
        color: mat-color($pathofshopping-accent, 50);
    }
}

#shoppinglist-maincontainer {
    color: mat-color($pathofshopping-accent, 50);
    min-height: 100%;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    background-color: mat-color($pathofshopping-primary, 800);

    #top-bg-image-container {
        position: relative;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to top, mat-color($pathofshopping-primary, 800) 5%, rgba(0,0,0,0)), 
                            url('../../assets/topBgImage.jpg');
        height: 350px;

        #top-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }

    #shoppinglist-name-bar {
        width: 90%;
        margin: auto;
        transform: translateY(calc(-30px - (300px * 0.1)));
        background-color: mat-color($pathofshopping-primary, 500);
        min-height: 60px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        overflow: hidden;

        .mat-form-field {
            width: 95%;
            position: absolute;
        }

        #shoppinglist-name-output-wrapper {
            display: flex;
            align-items: center;
            max-width: 100%;
            font-size: mat-font-size($pathofshopping-typography, subheading-2);

            #shoppinglist-name-output {
                display: flex;
                align-items: center;
                text-align: center;
                margin: 0;
                padding: 0.25em;
            }
        }
    }

    #shoppinglist-contents-container {  
        border-radius: 5px;
        width: 90%;
        margin: auto;
        min-height: 500px;
        height: auto;
        background-color: mat-color($pathofshopping-primary, 600);

        #shoppinglist-contents-top-bar {
            border-radius: 5px 5px 0 0;
            min-height: 60px;
            width: 100%;
            background-color: mat-color($pathofshopping-primary, 500);
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .league-select {
                flex: 1 1 150px;
            }
    
            .action-button {
                color: mat-color($pathofshopping-accent, 50);
                background-color: mat-color($pathofshopping-primary, 800);
                font-weight: 300;
                margin: 1em;
                flex: 1;
                
                &#add-item {
                    background-color: rgb(55, 150, 55);
                }
            }
        }

        #shopping-list-contents {
            padding-bottom: 2em;
        }
    }
}

@media only screen and (max-width: 1080px) {

    #shoppinglist-maincontainer {
        #shoppinglist-contents-container { 
            #shoppinglist-contents-top-bar {

                .league-select  {
                    flex: 1 1 100%;
                    padding-top: 1em;
                }

                .action-button {
                    flex: 1 1 40%;
                }
            }
        }
    }
}