<ng-container *ngIf="!(servicesLoading | async) && !errMsg && !(saveLoading | async)">
    <header class="mat-elevation-z4 primary-dark site-header">
        <button 
            mat-icon-button 
            (click)="drawer.toggle()" 
            aria-label="Toggle menu" 
            [attr.aria-expanded]="drawer.opened" 
            class="color-transparent-to-accent"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <h1>
            <pos-editable-field label="List Name" [control]="listName" class="primary-dark"></pos-editable-field>
        </h1>
        <button mat-icon-button (click)="save()" class="color-transparent-to-accent" aria-label="Save this list">
            <mat-icon>save</mat-icon>
        </button>
    </header>
    <mat-drawer-container class="example-container">
        <mat-drawer [mode]="sideNavMQ.matches ? 'side' : ''" #drawer [autoFocus]="false" [opened]="sideNavMQ.matches">
            <div class="primary-light drawer-contents">
                <pos-searchselect 
                    class="league-select"
                    inputName='League'
                    [values]="leagues"
                    [filterBy]="simpleDataService.filterSimpleData"
                    [displayBy]="simpleDataService.displayByText"
                    [setValue]="simpleDataService.getSelectedValue(league.value, leagues)"
                    (selected)="league.patchValue($event.id)">
                </pos-searchselect>
                <nav class="side-nav">
                    <ul>
                        <li *ngFor="let item of items | async; let i = index">
                            <a matRipple routerLinkActive="accent-default" [routerLink]="'form/' + (i + 1)">{{ item.itemForm.value.itemName }}</a>
                        </li>
                    </ul>
                </nav>
                <div class="drawer-bottom">
                    <button 
                        type="button" 
                        mat-icon-button 
                        (click)="addItem()" 
                        id="add-item" 
                        aria-label="Add an item"
                        class="color-transparent-to-accent"
                    >
                        <mat-icon>add_box</mat-icon>
                    </button>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <main>
                <router-outlet *ngIf="(items | async).length > 0"></router-outlet>
                <section class="add-item-section" *ngIf="(items | async).length === 0">
                    <h2>It looks like your list is empty!</h2>
                    <button 
                        mat-button 
                        (click)="addItem()" 
                        aria-label="Add an item"
                        class="color-transparent-to-accent"
                    >
                        Add an item
                    </button>
                </section>
            </main>
      </mat-drawer-content>
    </mat-drawer-container>
</ng-container>
<main class="main-unloaded primary-dark" *ngIf="errMsg || (servicesLoading | async) || (saveLoading | async)">
    <section class="message-section">
        <h1 *ngIf="errMsg">{{errMsg}}</h1>
        <mat-progress-spinner 
            *ngIf="!errMsg && ((servicesLoading | async) || (saveLoading | async))" 
            color="accent"
            mode="indeterminate" 
            strokeWidth="5" diameter="50"
        ></mat-progress-spinner>
        <h1 *ngIf="!errMsg && ((servicesLoading | async) || (saveLoading | async))">Loading...</h1>
    </section>
</main>
