@import '../../styles.scss';

.topbar-select {
    background-color: mat-color($pathofshopping-primary, 400) !important;

    .mat-option-text {
        color: mat-color($pathofshopping-accent, 50);
    }
}

#shoppinglist-maincontainer {
    color: mat-color($pathofshopping-accent, 50);
    min-height: 100%;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    background-color: mat-color($pathofshopping-primary, 800);

    #top-bg-image-container {
        position: relative;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(to top, mat-color($pathofshopping-primary, 800) 5%, rgba(0,0,0,0)), 
                            url('../../assets/topBgImage.jpg');
        height: 350px;

        #top-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
    }

    #shoppinglist-settings-bar {
        width: 90%;
        margin: auto;
        transform: translateY(calc(-30px - (300px * 0.1)));
        background-color: mat-color($pathofshopping-primary, 500);
        min-height: 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 14px;

        #est-cost-container {
            display: flex;
            align-items: center;

            h4 {
                margin: 0;
                font-weight: 300;
            }

            img {
                height: 30px;
                width: auto;
                margin-left: 0.5em;
            }
        }
        
        #save-import-options {
            button {
                margin: 0 0.25em;
                color: mat-color($pathofshopping-accent, 50);
                background-color: mat-color($pathofshopping-primary, 800);
            }
        }

        .mat-form-field, .mat-flat-button { 
            font-weight: 300;
        }

        .mat-form-field, #est-cost-container, #save-import-options { 
            margin: 1em;
        }

        .mat-form-field {

            mat-label, .mat-input-element, .mat-select-value-text {
                color: mat-color($pathofshopping-accent, 50);
                line-height: normal;
            }

            .mat-select-arrow {
                color: mat-color($pathofshopping-primary, 800);
            }

            .mat-form-field-underline, .mat-form-field-ripple {
                background-color: mat-color($pathofshopping-primary, 800);
            }

            .mat-form-field-wrapper {
                margin-bottom: -1.25em;
            }
        }
    }

    #shoppinglist-contents-container {  
        border-radius: 10px;
        width: 90%;
        margin: auto;
        min-height: 500px;
        height: auto;
        background-color: mat-color($pathofshopping-primary, 600);

        #shoppinglist-contents-top-bar {
            border-radius: 10px 10px 0 0;
            height: 60px;
            width: 100%;
            background-color: mat-color($pathofshopping-primary, 500);
            display: flex;
            justify-content: center;
            align-items: center;

            .mat-form-field {
                text-align: center;
                flex: 0.4;
                max-width: 95%;
                height: 100%;
                
                .mat-input-element {
                    font-weight: 300;
                    line-height: normal;
                }

                .mat-form-field-underline, .mat-form-field-ripple {
                    background-color: mat-color($pathofshopping-primary, 800);
                }
            }
        }

        #shoppinglist-actions {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;

            button {
                color: mat-color($pathofshopping-accent, 50);
                font-weight: 300;
                margin: 1em;
                flex-grow: 1;
                
                &#add-item {
                    background-color: rgb(55, 150, 55);
                }

                &#expand-items, &#collapse-items {
                    background-color: mat-color($pathofshopping-primary, 800);
                } 
            }
        }

        #shopping-list-contents {
            width: 90%;
            margin: auto;
        }

    }
}

@media only screen and (max-width: 926px) {

    #shoppinglist-maincontainer {
    
        #shoppinglist-settings-bar {

            .mat-form-field, #est-cost-container, #save-import-options { 
                width: 100%;
            }

            #save-import-options {
                display: flex;
                justify-content: center;
            }
        }
    }

}