<div id="shoppinglist-maincontainer">
    <div id="top-bg-image-container">
        <h2 id="top-title">Path of Shopping</h2>
    </div>
    <div id="shoppinglist-settings-bar">
        <mat-form-field>
            <mat-label>League</mat-label>
            <mat-select (selectionChange)="setLeague($event.value)" [value]="getLeague()">
                <mat-option *ngFor="let league of LEAGUES | keyvalue" [value]="league.value" >{{league.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Budget</mat-label>
            <input matInput digitsonly float='true' [value]="getBudget()" type="text" (change)="setBudget($event.target.value)">
        </mat-form-field>
        <mat-form-field id="currency-type-form-field">
            <mat-label>Currency</mat-label>
            <mat-select [value]="getBudgetCurrencyType()" (selectionChange)="setBudgetCurrencyType($event.value)">
                <mat-option *ngFor="let types of CURRENCY_TYPES | keyvalue" [value]="types.value">{{types.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div id="est-cost-container">
            <h4>Estimated Cost: {{ getEstCost() }}</h4>
            <img [src]="getBudgetCurrencyType() == CURRENCY_TYPES.chaos ? 'assets/chaosOrb.png' : 'assets/exaltedOrb.png'" />
        </div>
        <div id="save-import-options">
            <button type="button" mat-flat-button><i-feather name="save"></i-feather> Save</button>
            <button type="button" mat-flat-button><i-feather name="download"></i-feather> Import</button>
        </div>
    </div>
    <div id="shoppinglist-contents-container">
        <div id="shoppinglist-contents-top-bar">
            <mat-form-field>
                <input matInput [value]="getShoppingListName()" type="text" (change)="setShoppingListName($event.target.value)" autocomplete="off">
            </mat-form-field>
        </div>
        <div id="shoppinglist-actions">
            <button type="button" mat-flat-button (click)="addItem()" id="add-item">Add Item <i-feather name="plus-circle"></i-feather></button>
            <button type="button" mat-flat-button (click)="accordion.openAll()" id="expand-items">Expand All <i-feather name="plus"></i-feather></button>
            <button type="button" mat-flat-button (click)="accordion.closeAll()" id="collapse-items">Collapse All <i-feather name="minus"></i-feather></button>
        </div>
        <div id="shopping-list-contents">
            <mat-accordion multi>
                <ng-template #itemContainerRef></ng-template>
            </mat-accordion>
        </div>
    </div>
</div>
